*{
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}


.multi-select .placeholder {
    display: none;
}

.multi-select .ms-choice {
    border: none;
}

.multi-select .ms-choice>.icon-close {
    top: 4px;
}


table{
    font-size: 13PX;
}

.pagination {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 0em 2em;
    margin: 0em 1em;
    font-size: 12px;
}


/* Profile page CSS */

.profile-card {
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.profile-pic {
    border-radius: 50%;
    margin: 1.5em 0em;
    width: 130px;
    height: 130px;
}

.loader-body {
    position: absolute;
    display: block;
    background-color: #ffffff90;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    z-index: 10000;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #5097D7;
    border-right: 10px solid #F09113;
    border-bottom: 10px solid #EAC00D;
    border-left: 10px solid #508F62;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* Pi Table Css */

.pi-table {
    display: block;
    height: 400px;
    overflow-x: auto;
    overflow-y: scroll;
    font-size: 12px;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    th,
    td {
        vertical-align: middle;
        text-align: center;
        padding: 3px;
        border: 1px solid #8fd5ff;
        text-transform: capitalize;
    }

}