html {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.login_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login_dtl {
    display: flex;
    flex-direction: column;
    width: 30rem;
    border: 1px solid #aeb7b7;
    padding: 3vw;
    align-items: center;
    border-radius: 1vw;

    h3 {
        font-size: 3rem;
        font-weight: 300;
        margin-top: 1rem;
    }
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1vw;
    position: relative;
    width: 100%;
}

.email_in,
.pass_in {
    display: flex;
    width: 100%;
    margin: 1vw 0vw;
    height: 2.5rem;
    border: 1px solid #c1c9c9;
    border-radius: 5px;
    text-align: start;
    justify-content: center;
}

.email_in {
    text-transform: lowercase;
}

.login_btn {
    background-image: linear-gradient(to right, #0047A8 0%, #EAC00D 51%, #0047A8 100%);
    width: 10rem;
    padding: 5px 45px;
    border: 1px solid #c1c9c9;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    transition: 0.5s;
    color: #fff;
    display: block;
}

.login_btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-grad {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em;
    margin: 0;
    position: relative;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 0.5px solid #3f3f3f;
}

.menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu-item {
    position: relative;
    list-style: none;
}

.menu-item>a {
    text-decoration: none;
    padding: 0em 2em;
    color: #2f2f2f;
    font-size: 0.9em;
    text-align: left;
}


.clickd {
    display: inline-block;
    position: absolute;
    right: -1em;
    background: url("../icons/dropdown.png") no-repeat;
    background-size: 1em;
    width: 1em;
    height: 1em;
    transition: 0.5s;
}

.has-subitems:hover>.clickd {
    transform: rotate(180deg);
}

.has-subitems {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-subitem {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    top: 25px;
    left: 1em;
    border: 2px solid #f7fbff78;
    border-radius: 0.5em;
    box-shadow: -0.2em 0 0.5em #9798998e;
    transform: scaleY(0);
    transition: all 0.3s;
    background-color: #fff;
}

.has-subitems:hover>.menu-subitem {
    transform: scaleY(1);
}

.subitem {
    position: relative;
    list-style: none;
    padding: 0.5em;
}

.subitem>a {
    text-decoration: none;
    padding: 0.5em 2em 0.5em 0.5em;
    color: #2f2f2f;
    font-size: 0.9em;
}

.user-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0px 15px;
    position: relative;
}

.user-title {
    margin: 0;
    padding: 0px 10px;
}

.user-drop {
    display: inline-block;
    position: absolute;
    right: 0;
    background: url("../icons/dropdown.png") no-repeat;
    background-size: 1em;
    width: 1em;
    height: 1em;
    transition: 0.5s;
}

.user-nav:hover>.user-drop {
    transform: rotate(180deg);
}

.user-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2em;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    border: 1px solid #aeb7b7;
    margin: 0;
    transition: all 0.5s;
    transform: scaleY(0);
    box-shadow: -1px 1px 5px 0px #aeb7b7;
}

.user-menu-item {
    padding: 15px;
    list-style: none;
}

.user-menu-item:not(:last-child) {
    border-bottom: 1px solid black;
}

.user-menu-item>a {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 14px;
}

.user-nav:hover>.user-menu {
    transform: scaleY(1);
    height: max-content;
}

.user-nav h6 {
    font-size: 1em;
    font-weight: 400;
}


.multi-select .placeholder {
    display: none;
}

.multi-select .ms-choice {
    border: none;
}

.multi-select .ms-choice>.icon-close {
    top: 4px;
}

.sample-table,
.user-table,
.branch-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid gray;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    width: 100%;
    font-size: 12px;
    /* border: 1px solid #bebebe; */
    /* border-radius: 15px; */
    height: 400px;
    overflow-y: scroll;

    th {
        background-color: #5097D7;
        color: #fff;
        font-weight: 500;
    }
}

.sample-table,
th,
td {
    vertical-align: middle;
    text-align: start;
    text-transform: capitalize;
    font-size: 12px;
    border: 1px solid rgb(205, 205, 205);
}


.pagination {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 0em 2em;
    margin: 0em 1em;
    font-size: 12px;
}

.user-table,
.branch-table {
    font-size: 12px;
    border: 1px solid #bebebe;
    scrollbar-width: none;
    /* overflow: hidden; */
    /* height: 450px; */

    th {
        background-color: #5097D7;
        color: #fff;
        font-weight: 500;
    }
}

.edit-btn {
    display: inline-block;
    color: #0047A8;
    vertical-align: middle;
    /* height: 25px; */
    font-size: 20px;
    text-decoration: none;
}

.edit-btn:not(:last-child) {
    margin-right: 15px;

}


/* chart css */

.chart-section {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 3em;
}


/* Profile page CSS */

.profile-card {
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.profile-pic {
    border-radius: 50%;
    margin: 1.5em 0em;
    width: 130px;
    height: 130px;
}


.summery-chat,
.lead-detail,
.contact-details {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid gray;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    position: relative;
    width: 100%;
    height: 480px;
    font-size: 14px;
    border: none;
    scrollbar-width: none;

    p {
        margin: 0;
    }

    form {
        font-size: small;

        select {
            font-size: small;
        }

        input[type='date'] {
            font-size: small;
        }

        textarea {
            font-size: small;
        }
    }
}

.chats {
    width: 99%;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 420px;
}

.lead-detail {
    height: auto;
}

.contact-details {
    width: auto;
    overflow: hidden;

    button {
        font-size: 14px;
    }
}

.contacts {
    height: 380px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


.lead-table,
.follow-table {
    height: 450px;
    width: 100%;
    /* border: 2px solid #0047A8; */
    overflow-x: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    font-size: 10px;

    th {
        background-color: #5097D7;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
    }
}


.table-primary th {
    position: sticky;
    top: 0;
    background-color: #007bff;
    color: white;
    z-index: 100;
}


/* Loader design here */

.loader-body{
    position: absolute;
    background-color: #ffffff90;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
}

.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #5097D7;
    border-right: 10px solid #F09113;
    border-bottom: 10px solid #EAC00D;
    border-left: 10px solid #508F62;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}