{% extends 'home.html' %} {% load static %} {% block content %}
<div class="container d-flex justify-content-center">
  <h5 class="fs-3 my-3 text-primary">Sample List</h5>
</div>
<div class="container-fluid my-3">
  <form method="GET" class="row g-3">
    <div class="col-md-4 gap-3 d-flex justify-content-between">
      <input type="text" class="form-control form-control-sm" name="q" placeholder="Search" />
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>
<div class="container-fluid">
  <table class="table table-hover sample-table">
    <thead>
      <tr class="table-primary">
        <th scope="col">S.No</th>
        <th scope="col">Sample Id</th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Type</th>
        <th scope="col">Format</th>
        <th scope="col">Country</th>
        <th scope="col">Hs Code</th>
        <th scope="col">Product</th>
        <th scope="col">Shiper</th>
        <th scope="col">Consignee</th>
        <th scope="col">Foreign Country</th>
        <th scope="col">Port</th>
        <th scope="col">Period</th>
        <th scope="col">Client Name</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    {% for sample in user_samples %}
    <tbody>
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ sample.sample_id }}</td>
        <td>{{ sample.user }}</td>
        <td>{{ sample.user.email }}</td>
        <td>{{ sample.report_type }}</td>
        <td>{{ sample.report_format }}</td>
        <td>{{ sample.country }}</td>
        <td>{{ sample.hs_code }}</td>
        <td>{{ sample.product }}</td>
        <td>{{ sample.shipper }}</td>
        <td>{{ sample.consignee }}</td>
        <td>{{ sample.foreign_country }}</td>
        <td>{{ sample.port }}</td>
        <td>{{ sample.get_month_display }}/{{ sample.year }}</td>
        <td>{{ sample.client_name }}</td>
        <td>{{ sample.status }}</td>
        <td>
          {% if sample.user == request.user %}
            {% if sample.status != 'received'%}
              <a href="{% url 'sample:edit_sample' sample.slug %}" class="edit-btn"
              ><i class="ti ti-edit"></i
              ></a>
            {% else %}
              <a class="edit-btn"><i class="ti ti-file-check"></i></a>
            {% endif %}
          {% else %}
            {% if sample.status == 'received' %}
              <a class="edit-btn"><i class="ti ti-send"></i></a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    </tbody>
    {% empty %}
    <tr>
      <td colspan="17">No Sample request</td>
    </tr>
    {% endfor %}
  </table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination d-flex flex-row">
    {% if user_samples.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ user_samples.previous_page_number }}"
        aria-label="Previous"
      >
        <span aria-hidden="true">{{ user_samples.previous_page_number }}</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link active" href="#">{{ user_samples.number }}</a>
    </li>
    {% if user_samples.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ user_samples.next_page_number }}"
        >{{ user_samples.next_page_number }}</a
      >
    </li>
    {% endif %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ user_samples.paginator.num_pages }}"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <div class="pagination">
    No of Pages {{ user_samples.paginator.num_pages }}
  </div>
</nav>
{% endblock %}
