{% extends 'home.html' %} {% load static %} {% block content %}
<!-- Success alert msg of submit request -->
<div class="container">
  <div class="alert z-3 position-absolute container" tabindex="1" id="myAlert">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
<div class="loader-body" id="loader" style="display: none">
  <div class="loader"></div>
</div>
<!-- Sample Request Form -->

<div class="container-fluid d-flex flex-column justify-content-center">
  <div class="container d-flex justify-content-center">
    <h5 class="fs-3 my-3 text-primary">Sample Request</h5>
  </div>
  <div class="container rounded p-3 shadow p-3 mb-5 bg-body-tertiary">
    <form
      class="row d-flex justify-content-center my-2"
      id="sampleForm"
      action="{% url 'sample:sample_request' %}"
      method="post"
    >
      {% csrf_token %}
      <div class="col-lg">
        <div class="row g-3 d-flex justify-content-center">
          <div class="col-md-2">
            <label for="typeReport" class="form-label">Type</label>
            <select name="typeReport" id="typeReport" class="form-control">
              {% for value, label in type_choices %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2">
            <label for="formatReport" class="form-label">Format</label>
            <select name="formatReport" id="formatReport" class="form-control">
              {% for value, label in format_choices %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2">
            <label for="inputCountry" class="form-label">Country</label>
            <input
              type="text"
              name="inputCountry"
              class="form-control"
              id="inputCountry"
              value="India"
              required
            />
          </div>
          <div class="col-md-2">
            <label for="inputHSN" class="form-label">HS Code</label>
            <input
              type="text"
              name="inputHSN"
              class="form-control"
              id="inputHSN"
            />
          </div>
          <div class="col-md-3">
            <label for="inputProduct" class="form-label">Product</label>
            <input
              type="text"
              name="inputProduct"
              class="form-control"
              id="inputProduct"
            />
          </div>
        </div>
      </div>
      <div class="row g-3 d-flex justify-content-center">
        <div class="col-md-2">
          <label for="inputIEC" class="form-label">IEC</label>
          <input
            type="text"
            name="inputIEC"
            class="form-control"
            id="inputIEC"
          />
        </div>
        <div class="col-md-3">
          <label for="inputShiper" class="form-label">Exporter</label>
          <input
            type="text"
            name="inputShiper"
            class="form-control"
            id="inputShipe"
          />
        </div>
        <div class="col-md-3">
          <label for="inputForeign" class="form-label">Importer</label>
          <input
            type="text"
            name="inputForeign"
            class="form-control"
            id="inputForeign"
          />
        </div>
        <div class="col-md-3 multi-select">
          <label for="inputForeignCountry" class="form-label"
            >Foreign Country</label
          >
          {% comment %} <input
            type="text"
            name="inputForeignCountry"
            class="form-control"
            id="inputForeignCountry"
          /> {% endcomment %}
          <select
            class="form-control form-control-sm"
            name="inputForeignCountry"
            id="multiCountries"
            multiple="multiple"
          >
            {% for countries in country_choice %}
            <option value="{{ countries.country }}">{{ countries.country }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row g-3 d-flex justify-content-center">
        <div class="col-md-3 multi-select">
          <label for="inputPort" class="form-label">Port</label>
          <select
            class="form-control form-control-sm"
            name="inputPort"
            id="multiPort"
            multiple="multiple"
          >
            {% for ports in port_choice %}
            <option value="{{ ports.port }}">{{ ports.port }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-1">
          <label for="inputyear" class="form-label">Year</label>
          <select name="inputyear" id="year" class="form-control">
            {% for year in range_year %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-1">
          <label for="month" class="form-label">Month</label>
          <select name="month" id="month" class="form-control">
            {% for value, label in month_choices %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label for="inputClient" class="form-label">Client Name</label>
          <input
            type="text"
            name="inputClient"
            class="form-control"
            id="inputClient"
            required
          />
        </div>
        <div class="col-md-2">
          <label for="sampleStatus" class="form-label">Status</label>
          {% if request.user.department == 'production' %}
          <select name="sampleStatus" id="sampleStatus" class="form-control">
            {% for value, label in status_choices %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
          </select>
          {% else %}
          <select
            name="sampleStatus"
            id="sampleStatus"
            class="form-control"
            disabled
          >
            {% for value, label in status_choices %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
          </select>
          {% endif %}
        </div>
      </div>
      <div class="row g-3 d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary px-5" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Sample submit form ended -->
{% endblock %}
