{% extends 'home.html' %} {% load static %} {% block content %}
<div class="container-fluid row my-3">
  <h3 class="fw-normal fs-4 my-3 text-primary-emphasis">Sample List</h3>
  <div class="d-flex w-75">
    <form class="d-flex w-50" action="" method="get" role="search">
      <input type="text" class="form-control" name="q" placeholder="Search" />
      <button class="btn btn-outline-success mx-1" type="submit">Search</button>
    </form>
    <div>
      <a href="{% url 'sample:samples' %}" class="btn btn-outline-warning mx-1"
        >Clear Filter</a
      >
    </div>
  </div>
  <!-- <form class="d-flex w-50" action="" method="get" role="search">
    <input type="text" class="form-control" name="q" placeholder="Search" />
    <button class="btn btn-outline-success mx-1" type="submit">Search</button>
  </form> -->
  <div
    class="container-fluid m-3 p-0"
    style="height: 400px; overflow-y: auto; scrollbar-width: thin"
  >
    <table
      class="table table-sm table-bordered table-light align-middle table-hover text-capitalize my-0"
    >
      <thead class="table-primary align-middle position-sticky top-0">
        <tr>
          <th class="fw-medium" scope="col">S.N.</th>
          <th class="fw-medium" scope="col">Sample Id</th>
          <th class="fw-medium" scope="col">User</th>
          <th class="fw-medium" scope="col">Email</th>
          <th class="fw-medium" scope="col">Type</th>
          <th class="fw-medium" scope="col">Format</th>
          <th class="fw-medium" scope="col">Country</th>
          <th class="fw-medium" scope="col">Hs Code</th>
          <th class="fw-medium" scope="col">Product</th>
          <th class="fw-medium" scope="col">Shiper</th>
          <th class="fw-medium" scope="col">Consignee</th>
          <th class="fw-medium text-nowrap" scope="col">Foreign Country</th>
          <th class="fw-medium" scope="col">Port</th>
          <th class="fw-medium" scope="col">Period</th>
          <th class="fw-medium" scope="col">Client Name</th>
          <th class="fw-medium" scope="col">Status</th>
          <th class="fw-medium" scope="col">Requested</th>
          <th class="fw-medium" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for sample in user_samples %}
        <tr>
          <th class="fw-medium text-center" scope="row">
            {{ forloop.counter }}
          </th>
          <td class="text-nowrap">{{ sample.sample_id }}</td>
          <td class="text-nowrap">{{ sample.user }}</td>
          <td>{{ sample.user.email }}</td>
          <td>{{ sample.report_type }}</td>
          <td>{{ sample.report_format }}</td>
          <td>{{ sample.country }}</td>
          <td>{{ sample.hs_code }}</td>
          <td>{{ sample.product }}</td>
          <td>{{ sample.shipper }}</td>
          <td>{{ sample.consignee }}</td>
          <td>{{ sample.foreign_country }}</td>
          <td>{{ sample.port }}</td>
          <td>{{ sample.get_month_display }}/{{ sample.year }}</td>
          <td class="text-nowrap">{{ sample.client_name }}</td>
          <td>
            <span
              class="badge fw-normal rounded-pill text-bg-{% if sample.status == 'received' %}success {% elif sample.status == 'pending' %}warning{% else %}danger{% endif %}"
              >{{ sample.status }}</span
            >
          </td>
          <td class="text-nowrap">{{ sample.requested_at }}</td>
          <td>
            {% if sample.user == request.user and sample.status != 'received' %}
            <a
              class="btn p-0 text-primary mx-1"
              href="{% url 'sample:edit_sample' sample.slug %}"
              ><i class="ti ti-edit"></i
            ></a>
            {% elif sample.status == 'received' %}
            <a class="btn p-0 text-primary mx-1"
              ><i class="ti ti-file-smile"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Paginations -->
  <div class="container-fluid">
    <nav class="float-end" aria-label="Page navigation">
      <ul class="flex-row pagination pagination-sm">
        <li class="page-item">
          {% if user_samples.has_previous %}
          <a
            class="page-link"
            href="?page={{ user_samples.previous_page_number }}"
            >Previous</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ user_samples.previous_page_number }}"
            >{{ user_samples.previous_page_number }}</a
          >
        </li>
        {%endif%}
        <li class="page-item">
          <a class="page-link active" href="#">{{ user_samples.number }}</a>
        </li>
        {% if user_samples.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ user_samples.next_page_number }}"
            >{{ user_samples.next_page_number }}</a
          >
        </li>
        {%endif%}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ user_samples.paginator.num_pages }}"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
