{% extends 'home.html' %} {% load static %} {% block content %}
  <div class="container my-5">
    <div class="row d-flex justify-content-center align-item-center p-4">
      <div class="col-lg-8 col-md-8">
        <h5 class="text-uppercase fs-4 fw-normal ms-3 mb-5">Add Branch</h5>
        <form class="row g-3 p-4 needs-validation border border-rounded rounded-5" action="{% url 'teams:add_branch' %}" method="post">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-md-4">
              <label for="branch_name" class="form-label">Branch Name*</label>
              <input type="text" class="form-control" name="branch_name" id="branch_name" placeholder="Branch Name" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="row g-3">
              <div class="col-md-4">
                <label for="building_Name" class="form-label">Flat No & Buliding Name*</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" name="building_Name" id="building_Name" aria-describedby="inputGroupPrepend" required />
                </div>
              </div>
              <div class="col-md-5">
                <label for="street_name" class="form-label">Street Name</label>
                <input type="text" class="form-control" name="street_name" id="street_name" required />
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" name="city" id="city" required />
              </div>
              <div class="col-md-3">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" name="state" id="state" required />
              </div>
              <div class="col-md-3">
                <label for="pincode" class="form-label">Pin Code</label>
                <input type="text" class="form-control" name="pincode" id="pincode" required />
              </div>
              <div class="col-md-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" name="country" id="country" required />
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Add Branch</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
