{% extends 'home.html' %}
{% load static %}

{% block content %}
  <div class="container my-5">
    <h5 class="text-uppercase fs-4 fw-normal mb-5">Create User</h5>

    <form class="row g-3 p-4 needs-validation border border-rounded rounded-5" action="{% url 'teams:add_user' %}" method="post">
      {% csrf_token %}
      <div class="row g-3">
        <div class="col-md-3">
          <label for="first_name" class="form-label">First name</label>
          <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-3">
          <label for="last_name" class="form-label">Last name</label>
          <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <div class="input-group has-validation">
            <input type="email" class="form-control" name="email" id="useremail" aria-describedby="inputGroupPrepend" required />
            <div class="invalid-feedback">Email must be required</div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-md-3">
            <label for="branch" class="form-label">Branch</label>
            <select class="form-select" name="chooseBranch" id="validationCustom04" required>
              {% for branch in branch %}
                <option value="{{ branch.branch_name }}" {% if request.user.branch.branch_name == value %}selected{% endif %}>{{ branch }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <label for="role" class="form-label">Role</label>
            <select class="form-select" name="chooseRole" id="userRole" required>
              {% for value, label in role_choices %}
                <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <label for="department" class="form-label">Department</label>
            <select class="form-select" name="chooseDepartment" id="userDepartment" required>
              {% for value, label in department_choices %}
                <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-md-3 g-3">
            <label for="createPass" class="form-label">Create Password</label>
            <input type="password" name="createPass" id="createPass" class="form-control" required />
          </div>
          <div class="col-md-3">
            <label for="confirmPass" class="form-label">Confirm Password</label>
            <input type="password" name="confirmPass" id="confirmPass" class="form-control" required />
          </div>
        </div>
        <div>
          <input type="checkbox" name="show_password" id="show_password" />
          <label for="show_password">Show Password</label>
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Create User</button>
      </div>
    </form>
  </div>
{% endblock %}
