{% extends 'admin/settings.html' %} {% load static %} {% block settings %}
<div class="container gap-3 d-flex align-items-center my-3 ms-3">
  <a
    href="{% url 'teams:add_branch' %}"
    class="btn btn-sm btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addBranch"
    ><i class="ti ti-plus"></i>Add Branch</a
  >
</div>

<div
  class="modal fade"
  id="addBranch"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-body-tertiary">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <i class="ti ti-clipboard-plus"></i>Add Branch
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          action="{% url 'teams:add_branch' %}"
          method="post"
        >
          {% csrf_token %}
          <div class="col-md-5">
            <label for="branch_name" class="form-label">Branch Name*</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="branch_name"
              id="branch_name"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-7">
            <label for="building_Name" class="form-label"
              >Address Line 1*</label
            >
            <div class="input-group has-validation">
              <input
                type="text"
                class="form-control form-control-sm"
                name="building_Name"
                id="building_Name"
                aria-describedby="inputGroupPrepend"
                required
              />
            </div>
          </div>
          <div class="col-md-5">
            <label for="street_name" class="form-label">Street Name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="street_name"
              id="street_name"
              required
            />
          </div>
          <div class="col-md-3">
            <label for="city" class="form-label">City</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="city"
              id="city"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="state" class="form-label">State</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="state"
              id="state"
              required
            />
          </div>
          <div class="col-md-3">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="country"
              id="country"
              required
            />
          </div>
          <div class="col-md-3">
            <label for="pincode" class="form-label">Pin Code</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="pincode"
              id="pincode"
              required
            />
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm btn-primary" type="submit">
              Add Branch
            </button>
            <button
              type="button"
              class="btn btn-sm btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center">
  <table class="table branch-table">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Branch Name</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for branch in branch_list %}
    <tbody>
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ branch }}</td>
        <td>{{ branch.full_address }}</td>
        <td class="utils">
          <a
            href="{% url 'teams:edit_branch' branch.id %}"
            class="edit-btn"
            data-bs-toggle="modal"
            data-bs-target="#editBranch{{branch.id}}"
            ><i class="ti ti-edit"></i
          ></a>
        </td>

        <div
          class="modal fade"
          id="editBranch{{branch.id}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content bg-body-tertiary">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  <i class="ti ti-clipboard-plus"></i>Edit Branch
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body row g-3">
                <form
                  class="row g-3"
                  action="{% url 'teams:edit_branch' branch.id %}"
                  method="post"
                >
                  {% csrf_token %}
                  <div class="col-md-5">
                    <label for="branch_name" class="form-label"
                      >Branch Name*</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      name="branch_name"
                      id="branch_name"
                      value="{{branch.branch_name}}"
                      required
                    />
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                  <div class="col-md-7">
                    <label for="building_Name" class="form-label"
                      >Address Line 1*</label
                    >
                    <div class="input-group has-validation">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        name="building_Name"
                        id="building_Name"
                        value="{{branch.address}}"
                        aria-describedby="inputGroupPrepend"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="street_name" class="form-label"
                      >Street Name</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      name="street_name"
                      id="street_name"
                      value="{{branch.street}}"
                      required
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="city" class="form-label">City</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      name="city"
                      id="city"
                      value="{{branch.city}}"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="state" class="form-label">State</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      name="state"
                      id="state"
                      value="{{branch.state}}"
                      required
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="country" class="form-label">Country</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      name="country"
                      id="country"
                      value="{{branch.country}}"
                      required
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="pincode" class="form-label">Pin Code</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      name="pincode"
                      id="pincode"
                      value="{{branch.postcode}}"
                      required
                    />
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      Update Branch
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
