{% load static %} {% block nav %}
<nav class="navbar navbar-expand-lg justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'app:home' %}">
      <img
        src="{% static 'becrm/image/logo.png' %}"
        alt="beDatos"
        width="150"
        height="32"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
        <li class="nav-item">
          <a
            class="nav-link active text-primary-emphasis"
            aria-current="page"
            href="{% url 'app:home' %}"
            >Dashboard</a
          >
        </li>
        {% if request.user.role == 'admin' %}
        <li class="nav-item">
          <a class="nav-link text-primary-emphasis" href="{% url 'teams:users' %}">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary-emphasis" href="{% url 'app:logs' %}">Activity</a>
        </li>
        {% endif %}
        {% if request.user.department != 'production' %}
          {% if request.user.department != 'account' %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-primary-emphasis"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Leads
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item text-primary-emphasis" href="{% url 'lead:leads_list' %}"
                    >List</a
                  >
                </li>
                <li>
                  <a class="dropdown-item text-primary-emphasis" href="{% url 'lead:follow_ups' %}"
                    >Follow Up</a
                  >
                </li>
              </ul>
            </li>
          {%endif%}

          {% if request.user.department != 'account' %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-primary-emphasis"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Proforma Invoices
            </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item text-primary-emphasis" href="{% url 'invoice:pi_list' %}">List</a>
                </li>
                <li>
                    <a class="dropdown-item text-primary-emphasis" href="{% url 'invoice:create_pi' %}">Create</a>
                </li>
              </ul>
            </li>
          {% endif %}
          <li class="nav-item">
            <a
            class="nav-link text-primary-emphasis"
            href="{% url 'invoice:invoice_list' %}"
            >
            Tax Invoices
            </a>
          </li>
        {% endif %}
        {% if request.user.department != 'account' %}
          <li class="nav-item">
            <a
              class="nav-link text-primary-emphasis"
              href="{% url 'invoice:processed_list' %}"
            >
              Processed Orders
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-primary-emphasis"
              href="{% url 'sample:samples' %}"
              aria-expanded="false"
            >
              Sample
            </a>
          </li>
        {% endif %}
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-primary-emphasis"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                class="rounded rounded-circle text-primary-emphasis"
                src="{% if profile.profile_img.url %} {{ profile.profile_img.url }} {% else %} {% static 'becrm/image/user-default-96.png' %} {% endif %}"
                alt="profile"
                width="30"
                height="30"
              />
              {{request.user}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item text-primary-emphasis" href="{% url 'teams:profile' %}"
                  >Profile</a
                >
              </li>
              {% if request.user.role == 'admin' %}
                <li>
                  <a class="dropdown-item text-primary-emphasis" href="{% url 'app:settings' %}">Settings</a>
                </li>
              {% else %}
                <li>
                  <a class="dropdown-item text-primary-emphasis" href="{% url 'teams:user_password' %}">Change Password</a>
                </li>
              {% endif %}
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item text-primary-emphasis" href="{% url 'app:logout' %}"
                  >Log Out <i class="ti ti-logout"></i
                ></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<hr class="m-0" />
{% endblock %}
