{% extends "home.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="d-inline position-absolute" style="z-index: 1000;">
            <button class="d-inline btn btn-sm bg-primary text-primary-emphasis bg-opacity-10 px-1 py-5 rounded-start-0 rounded-end-2 position-sticky top-0" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="ti ti-chevron-right"></i>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <a class="navbar-brand" href="{% url 'app:home' %}">
                        <img
                          src="{% static 'becrm/image/logo.png' %}"
                          alt="beDatos"
                          width="150"
                          height="32"
                        />
                      </a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav flex-column fs-5">
                        <li class="nav-item">
                          <a class="nav-link text-primary-emphasis" href="{% url 'teams:profile' %}">Profile <i class="ti ti-arrow-narrow-right"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-primary-emphasis" href="{% url 'invoice:biller_list' %}">Billers <i class="ti ti-arrow-narrow-right"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-primary-emphasis" href="{% url 'teams:branch_list' %}">Branches <i class="ti ti-arrow-narrow-right"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-primary-emphasis" href="{% url 'teams:user_password' %}">Change Password <i class="ti ti-arrow-narrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid ps-3">
            {% block settings %}
            {% endblock %}
        </div>
    </div>
{% endblock  %}