{% extends 'admin/settings.html' %} {% load static %} {% block settings %}
{% include "alert.html" %}
<div class="container-fluid">
  <div
    class="container mt-3 shadow-sm p-3 mb-2 bg-primary bg-opacity-10 rounded"
  >
    <div class="row g-3 position-relative">
      <div class="col-md-5">
        <div class="p-3 lead-detail rounded rounded-5 text-success">
          <h3 class="m-0 fs-3 fw-semibold">
            {{biller_dtl.biller_name}}<a href="" class="btn text-success"
              ><i class="ti ti-edit"></i
            ></a>
          </h3>
          <p class="p-0 m-0">
            {% if biller_dtl.biller_gstin %}
              <span class="fw-semibold">GSTIN:</span> {{biller_dtl.biller_gstin}}
              <span class="fw-semibold">MSME:</span> {{biller_dtl.biller_msme}}
            {% endif %}
            <span class="fw-semibold">PAN:</span> {{biller_dtl.biller_pan}}
          </p>
          <p class="p-0 m-0">
            <span class="fw-semibold">Reg Address:</span>
            {{biller_dtl.get_reg_full_address}}
          </p>
          {% if biller_dtl.get_corp_full_address %}
          <p class="p-0 m-0">
            <span class="fw-semibold">Corp Address:</span>
            {{biller_dtl.get_corp_full_address}}
          </p>
          {% endif %}
        </div>
        <a
          href="{% url 'invoice:add_bank' biller_dtl.id %}"
          class="btn btn-sm btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#add-bank"
          >Add Bank</a>
        <a
          href="{% url 'invoice:add_bank' biller_dtl.id %}"
          class="btn btn-sm btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#set-format"
          >Set-up PI&Invoice Format</a>
      </div>
      <div class="col-lg-6">
        <h6>Current Format</h6>
        <div class="row">
          <div class="col-6">
            <p>PI Tag: <span class="fw-semibold">{{biller_variables.pi_tag}}</span></p>
          </div>
          <div class="col-6">
            <p>PI Format: <span class="fw-semibold">{{biller_variables.pi_format}}</span></p>
          </div>
          {% if biller_dtl.biller_gstin %}
            <div class="col-6">
              <p>Invoice Tag: <span class="fw-semibold">{{biller_variables.invoice_tag}}</span></p>
            </div>
            <div class="col-6">
              <p>Invoice Format: <span class="fw-semibold">{{biller_variables.invoice_format}}</span></p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="add-bank" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-primary fs-5" id="exampleModalLabel">
            <i class="ti ti-clipboard-plus"></i>Add Bank Details
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row g-3 d-flex justify-content-center">
            <form
              class="row g-3 d-flex justify-content-center my-2 p-3 rounded-3"
              action="{% url 'invoice:add_bank' biller_dtl.id %}"
              method="post"
            >
              {% csrf_token %}
              <div class="col-lg-10">
                <input class="form-check-input" type="checkbox" id="isUPI" name="is_upi">
                <label class="form-check-label" for="isUPI">
                  Is UPI
                </label>
              </div>
              <div class="col-lg-10">
                <label>Beneficiary Name</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="beneficiary_name"
                />
              </div>
              <div class="row g-3 justify-content-center" id="upiForm" style="display: none;">
                <div class="col-lg-10 p-0">
                  <label class="form-label">UPI ID</label>
                  <input type="email" class="form-control form-control-sm" name="upi_id" />
                </div>
                <div class="col-lg-10 p-0">
                  <label class="form-label">UPI No</label>
                  <input type="text" class="form-control form-control-sm" name="upi_no" />
                </div>
              </div>
              <div class="row g-3 justify-content-center" id="bankForm">
                <div class="col-lg-10 p-0">
                  <label>Bank Name</label>
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    name="bank_name"
                  />
                </div>
                <div class="col-lg-10 p-0">
                  <label>A/c No:</label>
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    name="ac_no"
                  />
                </div>
                <div class="col-lg-10 p-0">
                  <label>Branch Address</label>
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    name="branch_address"
                  />
                </div>
                <div class="col-lg-5 p-0">
                  <label>IFSC Code</label>
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    name="ifsc_code"
                  />
                </div>
                <div class="col-md-5 p-0">
                  <label>Swift Code:</label>
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    name="swift_code"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-sm btn-primary px-5" type="submit">
                  Submit
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="set-format" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-primary fs-5" id="exampleModalLabel">
            <i class="ti ti-clipboard-plus"></i>Set Format
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row g-3 d-flex justify-content-center">
            <form
              class="row g-3 d-flex justify-content-center my-2 p-3 rounded-3"
              action="{% url 'invoice:set_format' biller_dtl.id %}"
              method="post"
            >
              {% csrf_token %}
              <div class="col-lg-10">
                <label>PI Prefix</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="pi_tag"
                />
              </div>
              <div class="col-lg-10">
                <label>PI Format</label>
                <select
                class="form-select form-select-sm"
                type="text"
                name="pi_format">
                {% for value, label in format_choice%}
                  <option value="{{value}}">{{label}}</option>
                {%endfor%}
                </select>
              </div>
              {% if biller_dtl.biller_gstin %}
              <div class="col-lg-10">
                <label>Invoice Prefix</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="invoice_tag"
                />
              </div>
              
              <div class="col-lg-10">
                <label>Invoice Format</label>
                <select
                class="form-select form-select-sm"
                name="invoice_format">
                {% for value, label in format_choice%}
                <option value="{{value}}">{{label}}</option>
                {%endfor%}
              </select>
            </div>
            {% endif %}
            <div class="col-lg-10">
              <label>Apply From</label>
              <input
                class="form-control form-control-sm"
                type="date"
                name="from_date"
              />
            </div>
              <div class="modal-footer">
                <button class="btn btn-primary px-5" type="submit">
                  Submit
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex px-5 mt-3">
    {% for bank in banks %}
    <div class="col-lg-3 p-1">
      <div class="bg-primary-subtle text-info-emphasis rounded p-3">
        <h5 class="fs-5 fw-semibold m-0">
          {{bank.bank_name}} {% if bank.is_upi %}UPI{% endif %}
          <a href="" class="btn text-body-tertiary text-white"
            ><i class="ti ti-edit text-white"></i
          ></a>
        </h5>
        <p class="p-0 m-0">
          <span class="fw-semibold">A/C Holder Name:</span> {{bank.bnf_name}}
        </p>
        <p class="p-0 m-0">
          {% if bank.is_upi %}
            <span class="fw-semibold">UPI Id.:</span> {{bank.upi_id}}
          {% else %}
            <span class="fw-semibold">A/C No.:</span> {{bank.ac_no}}
          {% endif %}
        </p>
        {% if bank.is_upi %}
          <p class="p-0 m-0">
            <span class="fw-semibold">UPI No:</span> {{bank.upi_no}}
          </p>
        {% endif %}
        {% if not bank.is_upi %}
        <p class="p-0 m-0">
          <span class="fw-semibold">Branch Address:</span> {{bank.branch_address}}
        </p>
        <p class="p-0 m-0">
          <span class="fw-semibold">IFSC:</span> {{bank.ifsc}}
        </p>
        <p class="p-0 m-0">
          <span class="fw-semibold">SWIFT:</span> {{bank.swift_code}}
        </p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  let upiCheck = document.querySelector("#isUPI")
  let upiForm = document.querySelector("#upiForm")
  let bankForm = document.querySelector("#bankForm")

  if (upiCheck.checked) {
    console.log("upi checked")
    upiForm.style.display == 'flex'
    bankForm.style.display == 'none'
  } else {
    console.log("upi unchecked")
    upiForm.style.display == 'none'
    bankForm.style.display == 'flex'
  }

  upiCheck.addEventListener("change", function(){
    if (upiCheck.checked) {
      console.log("upi checked")
      upiForm.style.display = 'flex'
      bankForm.style.display = 'none'
    } else {
      console.log("upi unchecked")
      upiForm.style.display = 'none'
      bankForm.style.display = 'flex'
    }
  })
</script>
{% endblock %}
