{% extends "home.html" %}
{% load static %}

{% block content %}


<style>
    .ql-snow{
      border-radius: 8px;
    }
</style>
    <div class="container-fluid d-flex justify-content-center align-item-center vh-100 max-vh-100">

        <div class="container row justify-content-center mt-5">
            <div class="col-md-10">
                <form class="row g-3 justify-content-center align-item-center" action="{% url 'invoice:send_test_mail' pi_instance.id %}" method="get">
                    {% csrf_token %}
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="to" placeholder="To:" multiple>
                    </div>

                    <div class="col-md-10">
                        <input class="form-control" type="text" name="mailSubject" placeholder="Subject" value="Order_Process_PI_{{pi_instance.company_name}}_{{pi_instance.pi_no}}">
                    </div>
                    
                    <div class="col-md-10">
                        <div id="mailContent" style="height: 350px; width: 100%;"></div>
                        <input type="hidden" name="mailMessage">
                    </div>
                    <div class="col-md-10">
                        <button class="btn btn-primary rounded-pill px-3" type="submit"><i class="ti ti-send"></i> Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        const toolbarOptions = [
          // [{ 'font': [] }],
          [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
          ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'align': [] }],
          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
          // ['link'],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        ];
      
      
        const quill = new Quill('#mailContent', {
          modules: {
            toolbar: toolbarOptions,
          },
          theme: 'snow',
        });
      
        const form = document.querySelector('form');
        form.onsubmit = () => {
          let detail = document.querySelector('input[name=mailMessage]')
          detail.value = quill.root.innerHTML
        }
      
    </script>
{% endblock %}