{% extends 'home.html' %} {% load static %}
{% load custom_filters %} {% block content %}

{% include "alert.html" %}
<div class="container d-flex justify-content-center">
  <h5 class="fs-3 text-primary mt-3">Tax Invoice List</h5>
</div>
<div class="container-fluid my-2">
  <div class="row ">
    <div class="col-lg-4 col-md-6 col-sm-8 mt-2">
      <div class="row g-2">
        <form method="GET" class="col-md-9 col-sm-8 gap-2 d-flex justify-content-between">
          <input type="text" class="form-control form-control-sm" name="q" placeholder="Search" />
          {% for param, value in request.GET.items %}
            {% if param != 'q' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-sm btn-primary">Search</button>
        </form>
        <div class="col-md-3 col-sm-3">
          <a href="{% url 'invoice:invoice_list' %}" class="btn btn-sm btn-warning text-nowrap">Clear Filter</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 mt-2 pe-4">
      {% if request.user.role == 'admin' or request.user.department == 'account' %}
      <form class="row justify-content-end" id="selectUser" action="{% url 'invoice:invoice_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="user" id="userChoise">
            <option value='' selected>Select User</option>
            {% for user in all_users %}
            <option value="{{ user.user.id }}">{{user}}</option>
            {% endfor %}
          </select>
          {% for param, value in request.GET.items %}
            {% if param != 'user'%}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </div>
      </form>
      {% endif %}
    </div>
    <div class="col-md-2 mt-2 pe-4">
      <form class="row justify-content-end" id="piStatus" action="{% url 'invoice:invoice_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="status" id="statusChoise">
            <option value='' selected>Select Status</option>
            <option value=True>Generated</option>
            <option value=False>Pending</option>
          </select>
          {% for param, value in request.GET.items %}
            {% if param != 'status' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>
    <div class="col-md-2 mt-2 pe-4">
      <form class="row justify-content-end" id="selectFy" action="{% url 'invoice:invoice_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="fy" id="fychoise">
            {% for fy in fiscal_years %}
              <option value="{{ fy }}" {% if selected_fy == value %}selected{% endif %}>Fy {{fy}}</option>
            {% endfor %}
            <option value="2023-2024">Fy 23-24</option>
            <option value="2022-2023">Fy 22-23</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-2 mt-2 pe-2 flex-row">
      <a href="?export=excel{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}" class="btn btn-sm btn-primary">Export list</a>
      <a href="" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#bulkUpdate">Bulk Update Invoice</a>
    </div>
  </div>
</div>

<div class="modal fade" id="bulkUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Bulk Invoice Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action='{% url "invoice:bulkInvoiceUpdate" %}' method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Small file input example</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file" name='file' accept=".xlsx">
            <div id="uploadHelp" class="form-text">Upload file Format: .xlsx only</div>
            <div id="uploadHelp" class="form-text">column Invoice No.: Insert Number only, don't insert any Text/Special Char. Invoice No generate automatic as per set Format</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid pi-table">
  <table class="table">
    <thead>
      <tr class="table-primary position-sticky top-0">
        <th scope="col">S.No</th>
        <th scope="col">Created By</th>
        <th scope="col">Company Name</th>
        <th scope="col">GSTIN</th>
        <th scope="col">PI No</th>
        <th scope="col">PI Date</th>
        <th scope="col">Invoice No</th>
        <th scope="col">Invoice Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Amount (inc. tax)</th>
        <th scope="col">Received Amount</th>
        <th scope="col">Received Date</th>
        <th scope="col">Bank</th>
        <th scope="col">status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for proforma in taxInvoicesList %}
        <tr class="table-light">
          <td>{{ forloop.counter }}</td>
          <td class="text-nowrap">{{ proforma.pi_id.user_id }}</td>
          <td class="text-nowrap">{{ proforma.pi_id.company_name }}</td>
          <td class="text-nowrap">{{ proforma.pi_id.gstin }}</td>
          <td class="text-nowrap">{{ proforma.pi_id.pi_no }}</td>
          <td class="text-nowrap">{{ proforma.pi_id.pi_date }}</td>
          <td class="text-nowrap">{{ proforma.invoice_no }}</td>
          <td class="text-nowrap">{{ proforma.invoice_date }}</td>
          <td class="text-nowrap">₹ {% total_order_value proforma.pi_id %}</td>
          <td class="text-nowrap">₹ {% total_pi_value_inc_tax proforma.pi_id %}</td>
          <td class="text-nowrap">₹ {{ proforma.payment1_amt }}</td>
          <td class="text-nowrap">{{ proforma.payment1_date }}</td>
          <td class="text-nowrap">{{proforma.pi_id.bank.bank_name}} ({{proforma.pi_id.bank.bnf_name}})</td>
          <td class="text-nowrap"><span class="badge rounded-pill text-bg-{% if proforma.is_taxInvoice %}success{% else %}warning{% endif %} pb-1 px-2">{% if proforma.is_taxInvoice == True %}Generated {% elif proforma.is_hold == True %}Hold{% else %}Pending{% endif %}</span></td>
          <td class="text-nowrap">
            {% if not proforma.is_taxInvoice and request.user.department == 'account' %}
              <a href="" class="btn p-0 text-primary" data-bs-toggle="modal" data-bs-target="#generate-{{proforma.id}}"><i class="ti ti-edit"></i></a>
            {% endif %}
            <a href="" class="btn p-0 text-primary" data-bs-toggle="modal" data-bs-target="#{{proforma.id}}"><i class="ti ti-eye"></i></a>
            {% if proforma.is_taxInvoice == True %}
              <a href="{% url 'invoice:download_pdf' proforma.pi_id.id %}" class="btn p-0 text-primary"><i class="ti ti-file-type-pdf"></i></a>
              {% comment %} <a href="{% url 'invoice:email_form' proforma.id %}" class="btn p-0 text-primary"><i class="ti ti-settings-cog"></i></a> {% endcomment %}
            {% endif %}
          </td>
        </tr>
      
      <!-- Modal -->
        <div class="modal fade" id="{{proforma.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" style="scrollbar-width: thin;">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-4" >{{proforma.pi_id.company_name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <p class="text-capitalize"><span class="fw-semibold">GSTIN: </span>{{proforma.pi_id.gstin}}</p>
                      <p><span class="fw-semibold">ADDRESS: </span>{{proforma.pi_id.address}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">PI No.: </span>{{proforma.pi_id.pi_no}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">PI Date: </span>{{proforma.pi_id.pi_date}}</p>
                    </div>
                  </div>
                  {% if proforma.is_taxInvoice %}
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">Invoice No.: </span>{{proforma.invoice_no}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">Invoice Date: </span>{{proforma.invoice_date}}</p>
                    </div>
                  </div>
                  {% endif %}
                  {% if proforma.pi_id.po_no and proforma.pi_id.po_no != "" %}
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">PO No.: </span>{{proforma.pi_id.po_no}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">PO Date: </span>{{proforma.pi_id.po_date}}</p>
                    </div>
                  </div>
                  {% endif %}
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">Requistioner: </span>{{proforma.pi_id.requistioner}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">Team Member: </span>{{proforma.pi_id.user_id}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">Contact: </span>{{proforma.pi_id.contact}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">Email: </span>{{proforma.pi_id.email_id}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p class="text-capitalize"><span class="fw-semibold">Subscription: </span>{{proforma.pi_id.subscription}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p class="text-capitalize"><span class="fw-semibold">Payment Term: </span>{{proforma.pi_id.payment_term}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7">
                      <p class="text-capitalize"><span class="fw-semibold">details: </span>{{proforma.pi_id.details|safe}}</p>
                    </div>
                  </div>
                  <hr/>
                  <h5>Item Details</h5>
                  <div class="row g-3">
                    {% for order in proforma.pi_id.orderlist_set.all %}
                      {% if order.is_lumpsum %}
                        <div class="col-lg-9 col-md-9">
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Category: </span>{{order.category}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Report Type: </span>{{order.report_type}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Product/HSN: </span>{{order.product}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Period: </span>{{order.from_month|format_month}} to {{order.to_month|format_month}}</p>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if proforma|total_lumpsums > 0 %}
                    <div class="col-lg-3 col-md-3 align-item-center">
                      <div class="row">
                        <div class="col-lg-6 p-0">
                          <p class="text-capitalize"><span class="fw-semibold">Lumpsum: </span>{{ proforma|total_lumpsums }}</p>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% for order in proforma.pi_id.orderlist_set.all %}
                      {% if not order.is_lumpsum %}
                        <div class="col-lg-9 col-md-9">
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Category: </span>{{order.category}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Report Type: </span>{{order.report_type}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Product/HSN: </span>{{order.product}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Period: </span>{{order.from_month|format_month}} to {{order.to_month|format_month}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="row">
                            <div class="col-lg-6 p-0">
                              <p class="text-capitalize"><span class="fw-semibold">Unit Price: </span>{{order.unit_price}}</p>
                            </div>
                            <div class="col-lg-6 p-0">
                              <p class="text-capitalize"><span class="fw-semibold">Total Price: </span>{{order.total_price}}</p>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if proforma.is_Approved == True %}
                      <div class="row">
                        <div class="col-lg-6">
                          <p class="text-capitalize m-0"><span class="fw-semibold">Approved By: </span>{{proforma.approved_by}}</p>
                          <p class="text-capitalize p-0"><span class="fw-semibold">Approved Date: </span>{{proforma.approved_at}}</p>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <!-- {% if not proforma.is_Approved and request.user.role == 'admin' %}
                  <form action="{% url 'invoice:approve_pi' proforma.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="is_approved" value="true">
                    <button type="submit" class="btn btn-primary" >Approved</button>
                  </form>
                {%endif%} -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="generate-{{proforma.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title text-primary" id="exampleModalLabel"><i class="ti ti-clipboard-plus"></i> Generate Tax Invoice</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row g-3 d-flex justify-content-center">
                  <div class="row">
                    <div class="col-lg-12">
                      <h6 class="mt-2">{{proforma.pi_id.company_name}}</h6>
                      <p class="text-capitalize"><span class="fw-semibold">GSTIN: </span>{{proforma.pi_id.gstin}}</p>
                      <p><span class="fw-semibold">ADDRESS: </span>{{proforma.pi_id.address}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <p><span class="fw-semibold">PI No.: </span>{{proforma.pi_id.pi_no}}</p>
                    </div>
                    <div class="col-lg-4">
                      <p><span class="fw-semibold">PI Date: </span>{{proforma.pi_id.pi_date}}</p>
                    </div>
                    <div class="col-lg-4">
                      <p><span class="fw-semibold">Amount Inc. tax: </span>₹ {% total_pi_value_inc_tax proforma.pi_id %}</p>
                    </div>
                    <div class="col-lg-4">
                      <p><span class="fw-semibold">Bank Name: </span>{{proforma.pi_id.bank}}</p>
                    </div>
                    <div class="col-lg-4">
                      <p><span class="fw-semibold">Payment Received: </span>{{proforma.payment1_amt}}</p>
                    </div>
                    <div class="col-lg-4">
                      <p><span class="fw-semibold">Payment Date: </span>{{proforma.payment1_date}}</p>
                    </div>
                  </div>
                  <form class="row g-3 d-flex justify-content-center" action="{% url 'invoice:generate_invoice' proforma.id %}" method="post">
                    {% csrf_token %}
                    <div class="col-5">
                      <label class="form-label">Invoice No</label>
                      <input class="form-control form-control-sm" type='number' name='invoice_no'>
                    </div>
                    <div class="col-5">
                      <label class="form-label">Date</label>
                      <input class="form-control form-control-sm" type="date" name="invoice_date" id="">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-outline-primary">Generate</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <tr>
          <td colspan="13">No Tax Invoice Added</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<nav class="d-flex justify-content-between align-items-center mt-4 px-5">
  <p class="m-0">Total Invoice: {{taxInvoicesList.paginator.count}}</p>
  <ul class="pagination pagination-sm justify-content-end flex-row ">
    <form class="me-5" method='GET' id='page-size'>
      {% for param, value in request.GET.items %}
        {% if param != 'pageSize' %}
          <input type="hidden" name="{{ param }}" value="{{ value }}">
        {% endif %}
      {% endfor %}
      <select class="form-select form-select-sm mx-2 text-primary-emphasis bg-primary-subtle" type="search" id='pageSize' name='pageSize'>
        <option value="20">20/page</option>
        <option value="30">30/page</option>
        <option value="40">40/page</option>
        <option value="50">50/page</option>
      </select>
    </form>
    {% if taxInvoicesList.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ taxInvoicesList.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="?page={{taxInvoicesList.previous_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">{{taxInvoicesList.previous_page_number}}</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="?page={{taxInvoicesList.number}}">{{taxInvoicesList.number}}</a></li>
    {% if taxInvoicesList.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{taxInvoicesList.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">{{taxInvoicesList.next_page_number}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{taxInvoicesList.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Next</a></li>
    {% endif %}
  </ul>
</nav>

<script>

    let userbtn = document.querySelector('#userChoise');
    let userForm = document.querySelector('#selectUser');

    if (userbtn) {
     
      userbtn.addEventListener('change', function() {
        // Automatically submit the form when the fiscal year is changed
        userForm.submit();
      });
      let selected_user = "{{ selected_user|default_if_none:'' }}";  // Handle None values in Django
      if (selected_user) {
        userbtn.value = selected_user;
      }
    }

    // let apbtn = document.querySelector('#isApChoise');
    // let apForm = document.querySelector('#piApprove');

    // apbtn.addEventListener('change', function() {
    //   // Automatically submit the form when the fiscal year is changed
    //   apForm.submit();
    // });
    // let selected_Ap = "{{ selected_Ap|default_if_none:'' }}";  // Handle None values in Django
    // if (selected_Ap) {
    //   apbtn.value = selected_Ap;
    // }


    let statusBtn = document.querySelector('#statusChoise');
    let statusForm = document.querySelector('#piStatus');
    
    statusBtn.addEventListener('change', function() {
      // Automatically submit the form when the fiscal year is changed
      statusForm.submit();
    });
    let selected_status = "{{ selected_status|default_if_none:'' }}";  // Handle None values in Django
    if (selected_status) {
      statusBtn.value = selected_status;
    }

    let fybtn = document.querySelector('#fychoise');
    let form = document.querySelector('#selectFy');
    
    fybtn.addEventListener('change', function() {
      // Automatically submit the form when the fiscal year is changed
      form.submit();
    });
    let selectedFy = "{{ selected_fy|default_if_none:'' }}";  // Handle None values in Django
    if (selectedFy) {
      fybtn.value = selectedFy;
    }
    
    let entryPerPage = document.querySelector('#pageSize');
    let pageRecord = document.querySelector('#page-size');

    entryPerPage.addEventListener('change', ()=>{
      pageRecord.submit()
    });

    let pagesize = "{{pageSize|default_if_none:''}}"
    if (pagesize){
      entryPerPage.value = pagesize
    }

</script>
{% endblock %}
