{% extends 'home.html' %} {% load static %}
{% load custom_filters %} {% block content %}
{% include "alert.html" %}
<div class="container-fluid">
    <div class="container-fluid mt-3">
        <div class="row justify-content-between">
            <div class="col-lg-3 py-3 mb-3 border rounded bg-light bg-gradient pi-orders">
                <h5 class="text-info-emphasis mb-3">PI_{{pi.company_name}}_{{pi.pi_no}}_{{pi.pi_date}}</h5>
                <p class="m-0">Email: <span class="fw-medium">{{pi.email_id}}</span></p>
                <div class="m-0 details">Details: {{pi.details|safe}}</div>
                <div class="m-0">
                    <h6 class="my-2">Orders:</h6>
                    {% for order in pi.orderlist_set.all %}
                        <p class="m-0 text-capitalize">{{ forloop.counter }}. {{order.report_type}} | HSN/Product: {{order.product}} | {{order.from_month|format_month}} - {{order.to_month|format_month}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-9">
                <form class="row order-form px-2" action="" method="post">
                    {% csrf_token %}
                    <div class="col-12 order-list border pb-3 rounded" id="order-item0">
                        <div class="row g-2 mt-2">
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <label class="form-label" for="report-type">Report Type</label>
                                <select class="form-select form-select-sm" name="report_type">
                                    {% for value, label in reports %}
                                        <option value="{{value}}">{{label}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <label class="form-label">Format</label>
                                <select class="form-select form-select-sm" name="report_format">
                                    {% for value, label in report_format %}
                                    <option value="{{value}}">{{label}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <label class="form-label">Country</label>
                                <select class="form-select form-select-sm" name="country">
                                    <option value="IN">India</option>    
                                    <option value="USA">USA</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-5">
                                <label class="form-label">HSN</label>
                                <input class="form-control form-control-sm" type="text" name="hsn" id="">
                            </div>
                            <div class="col-md-3 col-sm-7">
                                <label class="form-label">Product</label>
                                <input class="form-control form-control-sm" type="text" name="product" id="">
                            </div>
                            <div class="col-md-3 col-sm-5">
                                <label class="form-label">IEC</label>
                                <input class="form-control form-control-sm" type="text" name="iec" id="">
                            </div>
                            <div class="col-md-3 col-sm-7">
                                <label class="form-label">Exporter</label>
                                <input class="form-control form-control-sm" type="text" name="exporter" id="">
                            </div>
                            <div class="col-md-3 col-sm-5">
                                <label class="form-label">Importer</label>
                                <input class="form-control form-control-sm" type="text" name="importer" id="">
                            </div>
                            <div class="col-md-3 col-sm-7">
                                <label class="form-label">Foreign Country</label>
                                <select class="form-control form-control-sm multi-select" type="text" name="foreign_country[]" id="" multiple="multiple">
                                    <option value="usa">USA</option>
                                    <option value="russia">Russia</option>
                                    <option value="indonesia">Indonesia</option>
                                    <option value="uae">UAE</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="form-label">Ports</label>
                                <select class="form-control form-control-sm multi-select" type="text" name="ports[]" id="" multiple="multiple">
                                    <option value="jnpt">JNPT</option>
                                    <option value="mundra">Mundra</option>
                                    <option value="jaipur-icd">Jaipur ICD</option>
                                    <option value="delhi-air">Delhi Air</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <label class="form-label">From</label>
                                <input class="form-control form-control-sm" type="month" name="from_month" id="from_month" required>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <label class="form-label">To</label>
                                <input class="form-control form-control-sm" type="month" name="to_month" id="to_month" required>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-sm btn-secondary" id="add-form">Add <i class="ti ti-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-sm btn-success">Process</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'becrm/js/mainfunctions.js' %}"></script>
<script>
    const add_from = (el) => {
        let item = document.createElement("div");

        let item_classess = "col-12 order-list mt-2 border pb-3 rounded";
        item.setAttribute("class", item_classess);

        let new_id = "order-item" + document.querySelectorAll(".order-list").length;
        item.setAttribute("id", new_id);

        item.innerHTML = `    <div class="row g-2 mt-2">
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <label class="form-label" for="report-type">Report Type</label>
                                <select class="form-select form-select-sm" name="report_type">
                                    {% for value, label in reports %}
                                        <option value="{{value}}">{{label}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <label class="form-label">Format</label>
                                <select class="form-select form-select-sm" name="report_format">
                                    {% for value, label in report_format %}
                                    <option value="{{value}}">{{label}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <label class="form-label">Country</label>
                                <select class="form-select form-select-sm" name="country">
                                    <option value="IN">India</option>    
                                    <option value="USA">USA</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-5">
                                <label class="form-label">HSN</label>
                                <input class="form-control form-control-sm" type="text" name="hsn" id="">
                            </div>
                            <div class="col-md-3 col-sm-7">
                                <label class="form-label">Product</label>
                                <input class="form-control form-control-sm" type="text" name="product" id="">
                            </div>
                            <div class="col-md-3 col-sm-5">
                                <label class="form-label">IEC</label>
                                <input class="form-control form-control-sm" type="text" name="iec" id="">
                            </div>
                            <div class="col-md-3 col-sm-7">
                                <label class="form-label">Exporter</label>
                                <input class="form-control form-control-sm" type="text" name="exporter" id="">
                            </div>
                            <div class="col-md-3 col-sm-5">
                                <label class="form-label">Importer</label>
                                <input class="form-control form-control-sm" type="text" name="importer" id="">
                            </div>
                            <div class="col-md-3 col-sm-7">
                                <label class="form-label">Foreign Country</label>
                                <select class="form-control form-control-sm multi-select" type="text" name="foreign_country[]" id="" multiple="multiple">
                                    <option value="usa">USA</option>
                                    <option value="russia">Russia</option>
                                    <option value="indonesia">Indonesia</option>
                                    <option value="uae">UAE</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="form-label">Ports</label>
                                <select class="form-control form-control-sm multi-select" type="text" name="ports[]" id="" multiple="multiple">
                                    <option value="jnpt">JNPT</option>
                                    <option value="mundra">Mundra</option>
                                    <option value="jaipur-icd">Jaipur ICD</option>
                                    <option value="delhi-air">Delhi Air</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <label class="form-label">From</label>
                                <input class="form-control form-control-sm" type="month" name="from_month" id="from_month" required>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <label class="form-label">To</label>
                                <input class="form-control form-control-sm" type="month" name="to_month" id="to_month" required>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-sm btn-secondary" id="add-form">Add <i class="ti ti-plus"></i></button>
                            </div>
                        </div>`;

        // let processForm = el.closest('.order-form')
        // processForm.appendChild(item);
        el.after(item)

        let remove_btn = item.querySelector('#add-form');
        remove_btn.setAttribute("id", "remove-form")
        remove_btn.innerHTML = "remove <i class='ti ti-minus'></i>";

        remove_btn.onclick = (e) => {
          e.preventDefault();
          item.remove();
        };

        $(item).find(".multi-select").multipleSelect({
        selectAll: false,
        filter: true,
        showClear: true,
        animate: 'fade'
        });

        let from_month_inputs = item.querySelectorAll("#from_month")
        let to_month_inputs = item.querySelectorAll("#to_month")

        updateMonthConstraints(from_month_inputs, to_month_inputs)

    }

    let order_form = document.querySelector('.order-list')
    let add_item = document.querySelector('#add-form')

    add_item.onclick = (e) =>{
        e.preventDefault()

        console.log("adding item")
        return add_from(order_form)
    }


    document.querySelectorAll(".multi-select").forEach(element => {
        $(element).multipleSelect({
        selectAll: false,
        filter: true,
        showClear: true,
        animate: 'fade'
      })
    });


    let from_month_inputs = document.querySelectorAll("#from_month")
    let to_month_inputs = document.querySelectorAll("#to_month")

    updateMonthConstraints(from_month_inputs, to_month_inputs)

</script>

{% endblock %}