{% extends 'home.html' %} {% load static %}
{% load custom_filters %} {% block content %}

<div class="container d-flex justify-content-center">
  <h5 class="fs-3 text-primary mt-3">Processed Order List</h5>
</div>
<div class="container-fluid my-2">
  <div class="row ">
    <div class="col-lg-4 col-md-6 col-sm-8 mt-2">
      <div class="row g-2">
        <form method="GET" class="col-md-9 col-sm-8 gap-2 d-flex justify-content-between">
          <input type="text" class="form-control form-control-sm" name="q" placeholder="Search" />
          {% for param, value in request.GET.items %}
            {% if param != 'q' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-sm btn-primary">Search</button>
        </form>
        <div class="col-md-3 col-sm-3">
          <a href="{% url 'invoice:processed_list' %}" class="btn btn-sm btn-warning text-nowrap">Clear Filter</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 mt-2 pe-4">
      {% if request.user.role == 'admin' %}
      <form class="row justify-content-end" id="selectUser" action="{% url 'invoice:processed_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="user" id="userChoise">
            <option value='' selected>Select User</option>
            {% for user in all_users %}
            <option value="{{ user.user.id }}">{{user}}</option>
            {% endfor %}
          </select>
          {% for param, value in request.GET.items %}
            {% if param != 'user'%}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </div>
      </form>
      {% endif %}
    </div>
    <div class="col-md-2 mt-2 pe-4">
      <form class="row justify-content-end" id="piApprove" action="{% url 'invoice:processed_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="ap" id="isApChoise">
              <option value='' selected>Select</option>
              <option value=False>Processed</option>
              <option value=True>Hold</option>
          </select>
          {% for param, value in request.GET.items %}
            {% if param != 'ap' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>
    <div class="col-md-2 mt-2 pe-4">
      <form class="row justify-content-end" id="piStatus" action="{% url 'invoice:processed_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="status" id="statusChoise">
            <option value='' selected>Select Status</option>
            {% for value,label in status_choices %}
              <option value="{{ value }}" {% if selected_status == value %}selected{% endif %}>{{label}}</option>
            {% endfor %}
          </select>
          {% for param, value in request.GET.items %}
            {% if param != 'status' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>
    <div class="col-md-2 mt-2 pe-4">
      <form class="row justify-content-end" id="selectFy" action="{% url 'invoice:processed_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="fy" id="fychoise">
            {% for fy in fiscal_years %}
              <option value="{{ fy }}" {% if selected_fy == value %}selected{% endif %}>Fy {{fy}}</option>
            {% endfor %}
            <option value="2023-2024">Fy 23-24</option>
            <option value="2022-2023">Fy 22-23</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container-fluid pi-table">
  <table class="table" style="overflow-y: scroll;">
    <thead>
      <tr class="table-primary position-sticky top-0">
        <th scope="col">S.No</th>
        <th scope="col">Created By</th>
        <th scope="col">Company Name</th>
        <th scope="col">PI No</th>
        <th scope="col">Date</th>
        <th scope="col">Is Processed</th>
        <th scope="col">No. of Orders</th>
        <th scope="col">Order Status</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Processed Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for pi in processed_pi %}
        <tr class="table-light">
          <td>{{ forloop.counter }}</td>
          <td class="text-nowrap">{{ pi.user_id }}</td>
          <td class="text-nowrap">{{ pi.company_name }}</td>
          <td class="text-nowrap">{{ pi.pi_no }}</td>
          <td class="text-nowrap">{{ pi.pi_date }}</td>
          <td class="text-wrap"> <span class="badge rounded-pill text-bg-{% if pi.convertedpi.is_processed == True and pi.convertedpi.is_hold == False %}success{% else %}warning{% endif %} pb-1 px-2">{% if pi.convertedpi.is_processed == True and pi.convertedpi.is_hold == False %}Processed {% elif pi.convertedpi.is_hold == True %}Hold{% endif %}</span></td>
          <td class="text-nowrap"><span class="fw-medium">{{ pi.processedorder_set.count }}</span></td>
          <td class="text-nowrap"><span class="badge rounded-pill text-bg-{% if order.order_status == 'pending' %}warning{% else %}success{% endif %} pb-1 px-2">{{ order.order_status }}</span></td>
          <td class="text-nowrap">{{ pi.processedorder_set.last.last_sent_date }}</td>
          <td class="text-nowrap">{{ pi.convertedpi.requested_at }}</td>
          <td class="text-nowrap">
            <a href="{% url 'invoice:processed_pi_order' pi.id %}" class="btn py-0 text-primary"><i class="ti ti-eye"></i></a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="21">No Proforma Invoice Added</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<nav class="mt-4">
  <ul class="pagination pagination-sm justify-content-end flex-row ">
    <form class="me-5" method='GET' id='page-size'>
      {% for param, value in request.GET.items %}
        {% if param != 'pageSize' %}
          <input type="hidden" name="{{ param }}" value="{{ value }}">
        {% endif %}
      {% endfor %}
      <select class="form-select form-select-sm mx-2 text-primary-emphasis bg-primary-subtle" type="search" id='pageSize' name='pageSize'>
        <option value="20">20/page</option>
        <option value="30">30/page</option>
        <option value="40">40/page</option>
        <option value="50">50/page</option>
      </select>
    </form>
    {% if processed_orders.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ processed_orders.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="?page={{processed_orders.previous_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">{{processed_orders.previous_page_number}}</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="?page={{processed_orders.number}}">{{processed_orders.number}}</a></li>
    {% if processed_orders.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{processed_orders.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">{{processed_orders.next_page_number}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{processed_orders.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Next</a></li>
    {% endif %}
  </ul>
</nav>

<script>

    let userbtn = document.querySelector('#userChoise');
    let userForm = document.querySelector('#selectUser');

    if (userbtn){
      userbtn.addEventListener('change', function() {
        // Automatically submit the form when the fiscal year is changed
        userForm.submit();
      });
      let selected_user = "{{ selected_user|default_if_none:'' }}";  // Handle None values in Django
      if (selected_user) {
        userbtn.value = selected_user;
      }
    }

    let apbtn = document.querySelector('#isApChoise');
    let apForm = document.querySelector('#piApprove');

    apbtn.addEventListener('change', function() {
      // Automatically submit the form when the fiscal year is changed
      apForm.submit();
    });
    let selected_Ap = "{{ selected_Ap|default_if_none:'' }}";  // Handle None values in Django
    if (selected_Ap) {
      apbtn.value = selected_Ap;
    }


    let statusBtn = document.querySelector('#statusChoise');
    let statusForm = document.querySelector('#piStatus');
    
    statusBtn.addEventListener('change', function() {
      // Automatically submit the form when the fiscal year is changed
      statusForm.submit();
    });
    let selected_status = "{{ selected_status|default_if_none:'' }}";  // Handle None values in Django
    if (selected_status) {
      statusBtn.value = selected_status;
    }

    let fybtn = document.querySelector('#fychoise');
    let form = document.querySelector('#selectFy');
    
    fybtn.addEventListener('change', function() {
      // Automatically submit the form when the fiscal year is changed
      form.submit();
    });
    let selectedFy = "{{ selected_fy|default_if_none:'' }}";  // Handle None values in Django
    if (selectedFy) {
      fybtn.value = selectedFy;
    }
    
    let entryPerPage = document.querySelector('#pageSize');
    let pageRecord = document.querySelector('#page-size');

    entryPerPage.addEventListener('change', ()=>{
      pageRecord.submit()
    });

    let pagesize = "{{pageSize|default_if_none:''}}"
    if (pagesize){
      entryPerPage.value = pagesize
    }

</script>
{% endblock %}
