{% extends 'home.html' %} {% load static %}
{% load custom_filters %} {% block content %}
{% include "alert.html" %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="container d-flex justify-content-center">
  <h5 class="fs-3 text-primary mt-3">Proforma Invoice List</h5>
</div>
<div class="container-fluid my-2">
  <div class="row ">
    <div class="col-lg-4 col-md-6 col-sm-8 mt-2">
      <div class="row g-2">
        <form method="GET" class="col-md-9 col-sm-8 gap-2 d-flex justify-content-between">
          <input type="text" class="form-control form-control-sm" name="q" placeholder="Search" />
          {% for param, value in request.GET.items %}
            {% if param != 'q' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-sm btn-primary">Search</button>
        </form>
        <div class="col-md-3 col-sm-3">
          <a href="{% url 'invoice:pi_list' %}" class="btn btn-sm btn-warning text-nowrap">Clear Filter</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 mt-2 pe-4">
      {% if request.user.role == 'admin' %}
      <form class="row justify-content-end" id="selectUser" action="{% url 'invoice:pi_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="user" id="userChoise">
            <option value='' selected>Select User</option>
            {% for user in all_users %}
            <option value="{{ user.user.id }}">{{user}}</option>
            {% endfor %}
          </select>
          {% for param, value in request.GET.items %}
            {% if param != 'user'%}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </div>
      </form>
      {% endif %}
    </div>
    <div class="col-md-2 mt-2 pe-4">
      <form class="row justify-content-end" id="piApprove" action="{% url 'invoice:pi_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="ap" id="isApChoise">
              <option value='' selected>Select</option>
              <option value=True>Approved</option>
              <option value=False>Pending</option>
          </select>
          {% for param, value in request.GET.items %}
            {% if param != 'ap' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>
    <div class="col-md-2 mt-2 pe-4">
      <form class="row justify-content-end" id="piStatus" action="{% url 'invoice:pi_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="status" id="statusChoise">
            <option value='' selected>Select Status</option>
            {% for value,label in status_choices %}
              <option value="{{ value }}" {% if selected_status == value %}selected{% endif %}>{{label}}</option>
            {% endfor %}
          </select>
          {% for param, value in request.GET.items %}
            {% if param != 'status' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>
    <div class="col-md-2 mt-2 pe-4">
      <form class="row justify-content-end" id="selectFy" action="{% url 'invoice:pi_list' %}" method="get">
        <div class="col-lg-12 col-md-12">
          <select class="form-select form-select-sm" name="fy" id="fychoise">
            {% for fy in fiscal_years %}
              <option value="{{ fy }}" {% if selected_fy == value %}selected{% endif %}>Fy {{fy}}</option>
            {% endfor %}
            <option value="2023-2024">Fy 23-24</option>
            <option value="2022-2023">Fy 22-23</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container-fluid pi-table">
  <table class="table table-hover">
    <thead>
      <tr class="table-primary position-sticky top-0">
        <th scope="col">S.No</th>
        <th scope="col">Created By</th>
        <th scope="col">Date</th>
        <th scope="col">Company Name</th>
        <th scope="col">PI No</th>
        <th scope="col">Biller</th>
        <th scope="col">Amount</th>
        <th scope="col">Amount Inc. Tax</th>
        <th scope="col">Is Approved</th>
        <th scope="col">status</th>
        <th scope="col">Is Processed</th>
        <th scope="col">Invoice Request</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for proforma in all_pi %}
        <tr class="table-light">
          <td>{{ forloop.counter }}</td>
          <td class="text-nowrap">{{ proforma.user_id }}</td>
          <td class="text-nowrap">{{ proforma.pi_date }}</td>
          <td class="text-nowrap">{{ proforma.company_name }}</td>
          <td class="text-nowrap">{{ proforma.pi_no }}</td>
          <td class="text-nowrap">{{ proforma.bank.biller_id.biller_name }}</td>
          <td class="text-wrap">
            ₹ {% total_order_value proforma %}
          </td>
          <td class="text-wrap">
            ₹ {% total_pi_value_inc_tax proforma %}
          </td>
          <td class="text-wrap"> <span class="badge rounded-pill text-bg-{% if proforma.is_Approved == True %}success{% else %}warning{% endif %} pb-1 px-2">{% if proforma.is_Approved == True %}Approved {% else %}Pending{% endif %}</span></td>
          <td class="text-wrap"><span class="badge rounded-pill text-bg-{% if proforma.status == 'open' %}warning{% elif proforma.status == 'closed' %}success{% else %}danger{% endif %} pb-1 px-2">{{ proforma.status }}</span></td>
          <td class="text-wrap"> <span class="badge rounded-pill text-bg-{% if proforma.convertedpi.is_processed == True %}success{% else %}warning{% endif %} pb-1 px-2">{% if proforma.convertedpi.is_processed == True %}Processed {% else %}{% endif %}</span></td>
          <td class="text-wrap"> <span class="badge rounded-pill text-bg-{% if proforma.convertedpi.is_taxInvoice == True %}success{% else %}warning{% endif %} pb-1 px-2">{% if proforma.convertedpi.is_taxInvoice == True %}Received {% elif proforma.convertedpi.is_hold == True %}Hold {% elif proforma.convertedpi.is_invoiceRequire == True %}Requested {% else %}{% endif %}</span></td>
          <td class="text-nowrap">
            <!-- <a href="" class="edit-btn"><i class="ti ti-details"></i></a> -->
            {% if proforma.convertedpi.is_closed != True %}
              <a href="{% url 'invoice:edit_pi' proforma.slug %}" class="btn p-0 text-primary"><i class="ti ti-edit"></i></a>
            {% endif %}
            <a href="" class="btn p-0 text-primary" data-bs-toggle="modal" data-bs-target="#{{proforma.pi_no}}"><i class="ti ti-eye"></i></a>
            {% if proforma.is_Approved == True %}
              {% if not proforma.convertedpi.is_taxInvoice %}
                <a class="btn p-0 text-primary" data-bs-toggle="modal" data-bs-target="#{{proforma.id}}"><i class="ti ti-status-change"></i></a>
              {% endif %}
                <a href="{% url 'invoice:download_pdf' proforma.id %}" class="btn p-0 text-primary"><i class="ti ti-file-type-pdf"></i></a>
              {% if proforma.user_id == request.user %}
                  {% comment %} <a href="{% url 'invoice:email_form' proforma.id %}" class="btn p-0 text-primary"><i class="ti ti-mail"></i></a> {% endcomment %}
                {% if not proforma.convertedpi.is_processed and proforma.status == 'closed' %}
                  <a href="{% url 'invoice:process_pi' proforma.id %}" class="btn p-0 text-primary"><i class="ti ti-settings-cog"></i></a>
                {% endif %}
              {% endif %}
            {% endif %}
          </td>
        </tr>
      
      <!-- Modal -->
        <div class="modal fade" id="{{proforma.pi_no}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" style="scrollbar-width: thin;">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-4" >{{proforma.company_name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <p class="text-capitalize"><span class="fw-semibold">GSTIN: </span>{{proforma.gstin}}</p>
                      <p><span class="fw-semibold">ADDRESS: </span>{{proforma.address}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">PI No.: </span>{{proforma.pi_no}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">PI Date: </span>{{proforma.pi_date}}</p>
                    </div>
                  </div>
                  {% if proforma.po_no and proforma.po_no != "" %}
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">PO No.: </span>{{proforma.po_no}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">PO Date: </span>{{proforma.po_date}}</p>
                    </div>
                  </div>
                  {% endif %}
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">Requistioner: </span>{{proforma.requistioner}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">Team Member: </span>{{proforma.user_id}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">Contact: </span>{{proforma.contact}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">Email: </span>{{proforma.email_id}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p class="text-capitalize"><span class="fw-semibold">Subscription: </span>{{proforma.subscription}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p class="text-capitalize"><span class="fw-semibold">Payment Term: </span>{{proforma.payment_term}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p class="text-capitalize"><span class="fw-semibold">Bank: </span>{{proforma.bank}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p class="text-capitalize"><span class="fw-semibold">Total Amount: </span>₹ {% total_order_value proforma %}</p>
                      <p class="text-capitalize"><span class="fw-semibold">Total Amount (Inc. Tax): </span>₹ {% total_pi_value_inc_tax proforma %}</p>
                    </div>
                    <div class="col-lg-7">
                      <p class="text-capitalize"><span class="fw-semibold">Biller: </span> {{proforma.bank.biller_id.biller_name}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7">
                      <span class="fw-semibold text-capitalize">details: </span>
                      <div class="m-0 text-capitalize details">{{proforma.details|safe}}</div>
                    </div>
                  </div>
                  <hr/>
                  <h5>Item Details</h5>
                  <div class="row g-3">
                    {% for order in proforma.orderlist_set.all %}
                      {% if order.is_lumpsum %}
                        <div class="col-lg-9 col-md-9">
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Category: </span>{{order.category}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Report Type: </span>{{order.report_type}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Product/HSN: </span>{{order.product}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Period: </span>{{order.from_month|format_month}} to {{order.to_month|format_month}}</p>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if proforma|total_lumpsums > 0 %}
                    <div class="col-lg-3 col-md-3 align-item-center">
                      <div class="row">
                        <div class="col-lg-6 p-0">
                          <p class="text-capitalize"><span class="fw-semibold">Lumpsum: </span>{{ proforma|total_lumpsums }}</p>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% for order in proforma.orderlist_set.all %}
                      {% if not order.is_lumpsum %}
                        <div class="col-lg-9 col-md-9">
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Category: </span>{{order.category}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Report Type: </span>{{order.report_type}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Product/HSN: </span>{{order.product}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Period: </span>{{order.from_month|format_month}} to {{order.to_month|format_month}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="row">
                            <div class="col-lg-6 p-0">
                              <p class="text-capitalize"><span class="fw-semibold">Unit Price: </span>{{order.unit_price}}</p>
                            </div>
                            <div class="col-lg-6 p-0">
                              <p class="text-capitalize"><span class="fw-semibold">Total Price: </span>{{order.total_price}}</p>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if proforma.is_Approved == True %}
                      <div class="row">
                        <div class="col-lg-6">
                          <p class="text-capitalize m-0"><span class="fw-semibold">Approved By: </span>{{proforma.approved_by}}</p>
                          <p class="text-capitalize p-0"><span class="fw-semibold">Approved Date: </span>{{proforma.approved_at}}</p>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                {% if not proforma.is_Approved and request.user.role == 'admin' %}
                  <form action="{% url 'invoice:approve_pi' proforma.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="is_approved" value="true">
                    <button type="submit" class="btn btn-primary" >Approved</button>
                  </form>
                {%endif%}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="{{proforma.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Order Process & Status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row g-3 d-flex justify-content-center">
                  <form class="row g-3 d-flex justify-content-center" action="{% url 'invoice:update_pi_status' proforma.id %}" method="post">
                    {% csrf_token %}
                    <div class="col-5">
                      <label class="form-label">Status</label>
                      <select class="form-select form-select-sm" name="pi_status" id="pi-status-choice">
                        {% for value, label in status_choices %}
                        <option value="{{value}}" {% if proforma.status == value %}selected{% endif %}>{{label}}</option>              
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-5">
                      <label class="form-label">Date <span class="text-danger">*</span></label>
                      <input class="form-control form-control-sm" type="date" name="closingDate" id="" required>
                    </div>
                    <div class="col-10 requestTaxInvoice" style="display: none;">
                      <div class="row g-3">
                        {% if proforma.bank.biller_id.biller_gstin %}
                        <div class="col-5">
                          <input class="form-check-input" type="checkbox" name="is_invoiceRequire" id="is-invoiceRequire" />
                          <label class="form-check-label" for="is-taxInvoice">
                            Tax Invoice
                          </label>
                        </div>
                        {% endif %}
                      </div>
                      <div class="row g-3 mt-1 paymentForm">
                        <div class="col-md-3 col-sm-4 col-4">
                          <label class="form-label">Payment Status</label>
                          <select class="form-select form-select-sm" name="payment_status" id="">
                            {% for value, label in payment_status %}
                            <option value="{{value}}" {% if value == 'full'%}selected{% endif %}>{{label}}</option>                  
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-3 col-sm-4 col-4">
                          <label class="form-label">Payment</label>
                          <input class="form-control form-control-sm" type="text" name="payment1_amt" value="{% total_pi_value_inc_tax proforma %}">
                        </div>
                        <div class="col-md-3 col-sm-4 col-4">
                          <label class="form-label">Payment Date <span class="text-danger">*</span></label>
                          <input class="form-control form-control-sm" type="Date" name="payment1_date" required>
                        </div>
                        {% if proforma.convertedpi.payment1_amt and proforma.convertedpi.payment_status != 'full' %}
                          <div class="col-md-3 col-sm-4 col-4">
                          </div>
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">2nd Payment</label>
                            <input class="form-control form-control-sm" type="text" name="payment2_amt" value="{% total_pi_value_inc_tax proforma %}">
                          </div>
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">2nd Payment Date <span class="text-danger">*</span></label>
                            <input class="form-control form-control-sm" type="Date" name="payment2_date" required>
                          </div>
                        {% endif %}
                        {% if proforma.convertedpi.payment2_amt and proforma.convertedpi.payment_status != 'full' %}
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">3rd Payment</label>
                            <input class="form-control form-control-sm" type="text" name="payment3_amt" value="{% total_pi_value_inc_tax proforma %}">
                          </div>
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">3rd Payment Date <span class="text-danger">*</span></label>
                            <input class="form-control form-control-sm" type="Date" name="payment3_date" required>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-warning">Process</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% empty %}
        <tr>
          <td colspan="12">No Proforma Invoice Added</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<nav class="d-flex justify-content-between align-items-center mt-4 px-5">
  <p class="m-0">Total PI: {{all_pi.paginator.count}}</p>
  <ul class="pagination pagination-sm justify-content-end flex-row ">
    <form class="me-5" method='GET' id='page-size'>
      {% for param, value in request.GET.items %}
        {% if param != 'pageSize' %}
          <input type="hidden" name="{{ param }}" value="{{ value }}">
        {% endif %}
      {% endfor %}
      <select class="form-select form-select-sm mx-2 text-primary-emphasis bg-primary-subtle" type="search" id='pageSize' name='pageSize'>
        <option value="20">20/page</option>
        <option value="30">30/page</option>
        <option value="40">40/page</option>
        <option value="50">50/page</option>
      </select>
    </form>
    {% if all_pi.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ all_pi.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="?page={{all_pi.previous_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">{{all_pi.previous_page_number}}</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="?page={{all_pi.number}}">{{all_pi.number}}</a></li>
    {% if all_pi.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{all_pi.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">{{all_pi.next_page_number}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{all_pi.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Next</a></li>
    {% endif %}
  </ul>
</nav>

<script>

    let userbtn = document.querySelector('#userChoise');
    let userForm = document.querySelector('#selectUser');

    if (userbtn) {      
      userbtn.addEventListener('change', function() {
        // Automatically submit the form when the fiscal year is changed
        userForm.submit();
      });
      let selected_user = "{{ selected_user|default_if_none:'' }}";  // Handle None values in Django
      if (selected_user) {
        userbtn.value = selected_user;
      }
    }


    let apbtn = document.querySelector('#isApChoise');
    let apForm = document.querySelector('#piApprove');

    apbtn.addEventListener('change', function() {
      // Automatically submit the form when the fiscal year is changed
      apForm.submit();
    });
    let selected_Ap = "{{ selected_Ap|default_if_none:'' }}";  // Handle None values in Django
    if (selected_Ap) {
      apbtn.value = selected_Ap;
    }


    let statusBtn = document.querySelector('#statusChoise');
    let statusForm = document.querySelector('#piStatus');
    
    statusBtn.addEventListener('change', function() {
      // Automatically submit the form when the fiscal year is changed
      statusForm.submit();
    });
    let selected_status = "{{ selected_status|default_if_none:'' }}";  // Handle None values in Django
    if (selected_status) {
      statusBtn.value = selected_status;
    }

    let fybtn = document.querySelector('#fychoise');
    let form = document.querySelector('#selectFy');
    
    fybtn.addEventListener('change', function() {
      // Automatically submit the form when the fiscal year is changed
      form.submit();
    });
    let selectedFy = "{{ selected_fy|default_if_none:'' }}";  // Handle None values in Django
    if (selectedFy) {
      fybtn.value = selectedFy;
    }
    
    let entryPerPage = document.querySelector('#pageSize');
    let pageRecord = document.querySelector('#page-size');

    entryPerPage.addEventListener('change', ()=>{
      pageRecord.submit()
    });

    let pagesize = "{{pageSize|default_if_none:''}}"
    if (pagesize){
      entryPerPage.value = pagesize
    }

    const today = new Date()

    const formattedDate = today.toISOString().split('T')[0]

    let dateForms = document.querySelectorAll('input[type=date]')

    dateForms.forEach(element => {
      element.value = formattedDate
      element.setAttribute('max', formattedDate)
    });


</script>
<script src="{% static 'becrm/js/pi.js' %}"></script>
{% endblock %}
