{% extends 'home.html' %} {% load static %} {% block content %}
<div class="container-fluid py-2">
  <h1 class="text-primary text-center fs-3 my-3">Activity Logs</h1>
  <div class="container" style="height: 500px; overflow-y: scroll;">
    <table class="table table-hover">
      <thead class="table-primary position-sticky top-0">
        <tr>
          <th scope="col">S.N</th>
          <th scope="col">Action</th>
          <th scope="col">IP Address</th>
          <th scope="col">User</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Additional Info</th>
        </tr>
      </thead>
      <tbody>
        {% for log in activity_logs %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{log.action}}</td>
          <td>{{log.ip_address}}</td>
          <td>{{log.user.email}} ({{log.user}})</td>
          <td>{{log.timestamp}}</td>
          <td>Browser: {{log.extra_info.browser.browser}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
