{% extends 'base.html' %}
{% load static %}

{% block nav %}
<script type="text/javascript" src="{% static 'becrm/js/session_timeout.js' %}"></script>

    <script type="text/javascript">
      // Use the sessionTimeout function from django-session-timeout
      sessionTimeout({
          idleTimeout: {{ SESSION_TIMEOUT|default:600 }},  // Timeout in seconds (e.g., 120 seconds = 2 minutes)
          logoutUrl: "{% url 'app:login' %}",  // URL to redirect user after timeout (e.g., login page)
          warningTimeout: 60,  // Show warning 1 minute before timeout
          warningMessage: "Your will be logged out in 1 minute. If there is no activity",  // Custom warning message
          onTimeout: function () {
              // Redirect to login page after session timeout
              window.location.href = "{% url 'app:login' %}";
          }
      });
  </script>
  {% if user.is_authenticated %}
    {% include 'admin/nav-bar.html' %}
  {% endif %}
  {% include 'loader.html' %}
{% endblock %}
  
  
{% block content %}

{% endblock %}
