{% extends "home.html" %} {% load static %} {% block title %} New
Lead{%endblock%} {% block content %}

<div class="container-fluid d-flex flex-column">
  <div class="container my-2">
    <h5 class="text-primary">
      <i class="ti ti-clipboard-plus"></i>Edit Lead
    </h5>
  </div>
  <div class="loader-body" id="loader" style="display: none">
    <div class="loader"></div>
  </div>
  <div class="container">
    <form
      class="row g-3 d-flex justify-content-center my-2 shadow p-3 mb-5 bg-body-tertiary rounded-3"
      action="#"
      method="post"
    >
      {% csrf_token %}
      <div class="col-lg-10">
        <div class="row g-3">
          <div class="col-md-5">
            <label>Company Name</label>
            <input
              class="form-control"
              type="text"
              name="company_name"
              value="{{lead_instance}}"
            />
          </div>
          <div class="col-md-4">
            <label>Gstin</label>
            <input
              class="form-control"
              type="text"
              name="gstin"
              value="{{lead_instance.gstin}}"
            />
          </div>
        </div>
      </div>

      <div class="col-lg-10">
        <div class="row g-3">
          <div class="col-md-6">
            <label>Address Line 1</label>
            <input
              class="form-control"
              type="text"
              name="address1"
              value="{{lead_instance.address1}}"
            />
          </div>
          <div class="col-md-6">
            <label>Address Line 2</label>
            <input
              class="form-control"
              type="text"
              name="address2"
              value="{{lead_instance.address2}}"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row g-3">
          <div class="col-md-3">
            <label>City</label>
            <input
              class="form-control"
              type="text"
              name="city"
              value="{{lead_instance.city}}"
            />
          </div>
          <div class="col-md-3">
            <label>State</label>
            <input
              class="form-control"
              type="text"
              name="state"
              value="{{lead_instance.state}}"
            />
          </div>
          <div class="col-md-3">
            <label>Country</label>
            <input
              class="form-control"
              type="text"
              name="country"
              value="{{lead_instance.country}}"
            />
          </div>
          <div class="col-md-3">
            <label>Pin Code</label>
            <input
              class="form-control"
              type="text"
              name="pincode"
              value="{{lead_instance.pincode}}"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row g-3">
          <div class="col-md-4">
            <label>Industry</label>
            <input
              class="form-control"
              type="text"
              name="industry"
              value="{{lead_instance.industry}}"
            />
          </div>
          <div class="col-md-4">
            <label>Source</label>
            <select class="form-control" name="source">
              {% for values,labels in source_choice %}
              <option
              value="{{ values }}" {% if lead_instance.source == values %}selected{% endif %}
              >
                {{labels}}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row g-3">
          <div class="col-md-3">
            <button class="btn btn-primary px-5" type="submit">Update</button>
          </div>
          <div class="col-md-3">
            <a href="{% url 'lead:lead' lead_instance.id %}" class="btn btn-warning px-5">Back</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
