{% extends 'home.html' %} {% load static %} {% block content %} 

{% include "alert.html" %}

<div
  class="modal fade"
  id="uploadLeads"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4
          class="modal-title fs-5 text-primary-emphasis"
          id="exampleModalLabel"
        >
          <i class="ti ti-clipboard-plus"></i> Import Leads
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form
            class="row g-3 d-flex justify-content-center"
            action="{% url 'lead:upload_Leads' %}"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="col-10">
              <div class="mb-3">
                <label for="formFileSm" class="form-label"
                  >Upload Your Leads</label
                >
                <input
                  class="form-control form-control-sm"
                  id="formFileSm"
                  type="file"
                  name="file"
                  accept=".csv"
                  required
                />
              </div>
              <p class="">
                download:
                <span
                  ><a
                    href="{% url 'lead:download_template' %}"
                    class="text-danger-emphasis"
                    >template file</a
                  ></span
                >
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="reset"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary" name="upload_leads">
                Import
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} Popup ended here {% endcomment %}

<div
  class="modal fade"
  id="addLead"
  tabindex="-1"
  aria-labelledby="add-Lead-area"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-body-tertiary">
      <div class="modal-header">
        <h4 class="modal-title fs-5 text-primary-emphasis" id="add-Lead-area">
          <i class="ti ti-clipboard-plus"></i> Add Lead
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form
            class="row g-1"
            action="{% url 'lead:add_lead' %}"
            method="post"
          >
            {% csrf_token %}
                <div class="col-md-6">
                  <label class="form-label">Company Name</label>
                  <input class="form-control form-control-sm" type="text" name="company_name" />
                </div>
                <div class="col-md-6">
                  <label class="form-label">GSTIN</label>
                  <input class="form-control form-control-sm" type="text" name="gstin" />
                </div>

                <div class="col-md-6">
                  <label class="form-label">Address Line 1</label>
                  <input class="form-control form-control-sm" type="text" name="address1" />
                </div>
                <div class="col-md-6">
                  <label class="form-label">Address Line 2</label>
                  <input class="form-control form-control-sm" type="text" name="address2" />
                </div>
                <div class="col-md-3">
                  <label class="form-label">City</label>
                  <input class="form-control form-control-sm" type="text" name="city" />
                </div>
                <div class="col-md-3">
                  <label class="form-label">State</label>
                  <select class="form-select form-select-sm" type="text" name="state" required>
                    <option value="" disabled selected>Select State</option>
                    {% for values,labels in states %}
                      <option value="{{values}}">{{labels}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label">Country</label>
                  <select class="form-select form-select-sm" type="text" name="country" required>
                    <option value="" disabled selected>Select Country</option>
                    {% for code,name in countries %}
                      <option value="{{code}}">{{name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label">Pin Code</label>
                  <input class="form-control form-control-sm" type="text" name="pincode" />
                </div>
                <div class="col-md-5">
                  <label class="form-label">Industry</label>
                  <input class="form-control form-control-sm" type="text" name="industry" />
                </div>
                <div class="col-md-4">
                  <label class="form-label">Source</label>
                  <select class="form-select form-select-sm" type="text" name="source">
                    {% for values,labels in source_choice %}
                    <option value="{{values}}">{{labels}}</option>
                    {% endfor %}
                  </select>
                </div>
                <hr class="my-3" />
                <div class="col-md-5">
                  <label class="form-label">Contact Person</label>
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    name="contact_person"
                  />
                </div>
                <div class="col-md-7">
                  <label class="form-label">Email</label>
                  <input class="form-control form-control-sm" type="email" name="email" />
                </div>
                <div class="col-md-5">
                  <label class="form-label">Contact No</label>
                  <input class="form-control form-control-sm" type="text" name="contact_no" />
                </div>

                <div class="col-md-8">
                  <input
                    class="form-check-input"
                    id="flexCheckChecked"
                    type="checkbox"
                    name="is_active"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Is Active
                  </label>
                </div>

                <div class="modal-footer">
                  <input class="btn btn-sm btn-primary px-5 text-capitalize" type="submit" name="action" value="add" />
    
                  <!-- Add & Create_PI Button -->
                  <input class="btn btn-sm btn-primary" type="submit" name="action" value="Add & Create_PI" />

                  <button class="btn btn-sm btn-warning px-5" type="reset">
                    Reset
                  </button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-3">
  <div class="mt-5 mb-3">
    <div class="row g-3">
      <div class="col-lg-5 col-md-5">
        <form class="row g-3 pe-3" action="" method="get" role="search">
          <div class="col-10">
            <input
              type="text"
              class="form-control form-control-sm"
              name="q"
              placeholder="Search"
            />
            {% for param, value in request.GET.items %}
                {% if param != 'q'%}
                  <input type="hidden" name="{{ param }}" value="{{ value }}">
                {% endif %}
              {% endfor %}
          </div>
          <div class="col-2">
            <button class="btn btn-sm btn-success mx-1" type="submit">
              Search
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-2">
        <a
          href="{% url 'lead:leads_list' %}"
          class="btn btn-sm btn-warning mx-1"
          >Clear Filter</a
        >
        <a
          href="{% url 'lead:add_lead' %}"
          data-bs-toggle="modal"
          data-bs-target="#addLead"
          class="btn btn-sm btn-primary mx-1"
          >Add Lead</a
        >
      </div>
      <div class="col-md-2">
        {% if request.user.role == 'admin' %}
          <form class="row justify-content-end" id="selectUser" action="{% url 'lead:leads_list' %}" method="get">
            <div class="col-md-12">
              <select class="form-select form-select-sm" name="user" id="userChoise">
                <option value='' selected>Select User</option>
                {% for user in all_users %}
                <option value="{{ user.user.id }}">{{user}}</option>
                {% endfor %}
              </select>
              {% for param, value in request.GET.items %}
                {% if param != 'user'%}
                  <input type="hidden" name="{{ param }}" value="{{ value }}">
                {% endif %}
              {% endfor %}
            </div>
          </form>
        {% endif %}
      </div>
      <div class="col-lg-3 col-md-3">
        <a
          href="?excel=excel{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}"
          class="btn btn-sm btn-success mx-1"
          ><i class="ti ti-download"></i> Export Lead</a
        >
        <a
          class="btn btn-sm btn-primary mx-1"
          data-bs-toggle="modal"
          data-bs-target="#uploadLeads"
          ><i class="ti ti-upload"></i> Upload Lead</a
        >
      </div>
    </div>
  </div>
  <div
    class="container-fluid p-0 table-responsive border"
    style="height: 500px; overflow-y: auto; scrollbar-width: thin"
  >
    <table class="table table-sm table-bordered align-middle table-hover m-0">
      <thead class="table-primary position-sticky top-0 align-middle">
        <tr>
          <th class="fw-medium text-center" scope="col">S.N.</th>
          <th class="fw-medium" scope="col" style="width: max-content;">Company Name</th>
          <th class="fw-medium" scope="col">Gstin</th>
          <th class="fw-medium" scope="col" style="width: 400px;">Address</th>
          <th class="fw-medium" scope="col">Industry</th>
          <th class="fw-medium" scope="col">Inserted</th>
          <th class="fw-medium text-nowrap" scope="col">Team Member</th>
          <!-- <th class="fw-medium" scope="col">Action</th> -->
        </tr>
      </thead>
      <tbody>
        {% for lead in user_leads %}
        <tr>
          <th class="text-center" scope="row">{{ forloop.counter }}</th>
          <td class="text-nowrap"><a class="link-dark fw-semibold link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'lead:lead' lead.id %}">{{ lead.company_name }}</a></td>
          <td class="text-nowrap">
            {% if lead.gstin != None %}<a class="link-dark fw-semibold link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'lead:lead' lead.id %}">{{ lead.gstin }}</a>{% endif %}
          </td>
          <td class="text-wrap">{{lead.get_full_address}}</td>
          <td class="text-nowrap">{{ lead.industry }}</td>
          <td class="text-nowrap text-capitalize">{{ lead.created_at }}</td>
          <td class="text-nowrap">{{ lead.user }}</td>
          <!-- <td class="text-nowrap">
            <a
              class="btn p-0 text-primary mx-1"
              href="{% url 'lead:lead' lead.id %}"
              ><i class="ti ti-details"></i
            ></a>
          </td> -->
        </tr>
        {% empty %}
        <tr>
          <td colspan="12">No Lead Added</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container-fluid mt-3">
    <nav class="d-flex justify-content-between align-items-center mt-4 px-5">
      <p class="m-0">Total Leads: {{user_leads.paginator.count}}</p>
      <ul class="flex-row pagination pagination-sm">
        <form class="me-5" method='GET' id='page-size'>
          {% for param, value in request.GET.items %}
            {% if param != 'pageSize' %}
              <input type="hidden" name="{{ param }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
          <select class="form-select form-select-sm mx-2 text-primary-emphasis bg-primary-subtle" type="search" id='pageSize' name='pageSize'>
            <option value="20">20/page</option>
            <option value="30">30/page</option>
            <option value="40">40/page</option>
            <option value="50">50/page</option>
          </select>
        </form>
        {% if user_leads.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ user_leads.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Previous</a></li>
          <li class="page-item"><a class="page-link" href="?page={{user_leads.previous_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">{{user_leads.previous_page_number}}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link">{{user_leads.number}}</a></li>
        {% if user_leads.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{user_leads.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">{{user_leads.next_page_number}}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{user_leads.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.fy %}&fy={{ request.GET.fy }}{% endif %}{% if request.GET.user %}&user={{ request.GET.user }}{% endif %}{% if request.GET.ap %}&ap={{ request.GET.ap }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <!-- Paginations -->
</div>

<script>
  let userbtn = document.querySelector('#userChoise');
    let userForm = document.querySelector('#selectUser');

    if (userbtn) {
     
      userbtn.addEventListener('change', function() {
        // Automatically submit the form when the fiscal year is changed
        userForm.submit();
      });
      let selected_user = "{{ selected_user|default_if_none:'' }}";  // Handle None values in Django
      if (selected_user) {
        userbtn.value = selected_user;
      }
    }

  let entryPerPage = document.querySelector('#pageSize');
    let pageRecord = document.querySelector('#page-size');

    entryPerPage.addEventListener('change', ()=>{
      pageRecord.submit()
    });

    let pagesize = "{{pageSize|default_if_none:''}}"
    if (pagesize){
      entryPerPage.value = pagesize
    }
</script>
{% endblock %}
