{% extends "lead/lead_new.html" %} {% load custom_filters %} 
{% block leadContent %}

<div class="container-fluid p-0 mt-2">
  <div class="row g-2 justify-content-between">
    <div class="col-lg-6 col-md-6">
      <form class="row g-2" action="" method="get" role="search">
        <div class="col-lg-8 col-md-8">
          <input type="text" class="form-control form-control-sm" name="q" placeholder="Search" />
        </div>
        <div class="col-lg-4 col-md-4">
          <button class="btn btn-sm btn-outline-success mx-1" type="submit">Search</button>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-md-5 ps-2">
      <div class="row justify-content-end">
        {% if company.user == request.user.id %}
          <div class="col-md-4 col-6">
            <a href="{% url 'invoice:create_pi_lead_id' company.id %}" class="btn btn-sm btn-outline-success">Create PI</a>
          </div>
        {% endif %}
        <form class="col-md-6 col-6 justify-content-end" method="get">
          <div class="row">
            <div class="col-md-12">
              <select class="form-select form-select-sm" name="fy" id="">
                <option value="">Fy 24-25</option>
                <option value="">Fy 23-24</option>
                <option value="">Fy 22-23</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid my-3" style="height: 400px; overflow-y: auto">
    <table class="table table-light align-middle table-hover">
      <thead class="table-primary position-sticky top-0">
        <tr>
          <th class="fw-medium" scope="col">S.N.</th>
          <th class="text-nowrap fw-medium" scope="col">Company Name</th>
          <th class="fw-medium text-nowrap" scope="col">Gstin</th>
          <th class="fw-medium" scope="col">PI No</th>
          <th class="fw-medium" scope="col">PI Date</th>
          <th class="fw-medium" scope="col">Is Approved</th>
          <th class="fw-medium" scope="col">Status</th>
          <th class="fw-medium" scope="col">Amount</th>
          <th class="fw-medium" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for proforma in piList %}

        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td class="text-nowrap text-capitalize">{{proforma.company_name}}</td>
          <td>{{proforma.gstin}}</td>
          <td class="text-nowrap">{{proforma.pi_no}}</td>
          <td class="text-nowrap">{{proforma.pi_date}}</td>
          <td class="text-nowrap"><span class="badge rounded-pill {% if proforma.is_Approved %} text-bg-success {% else %} text-bg-warning {% endif %}px-2 py-1">{% if proforma.is_Approved == True %}Approved {% else %}Pending{% endif %}</span></td>
          <td class="text-capitalize"><span class="badge rounded-pill px-2 py-1 text-bg-{% if proforma.status == 'closed' %}success{% elif proforma.status == 'open' %}warning{% else %}danger{% endif %}">{{proforma.status}}</span></td>
          <td>{% total_order_value proforma %}</td>
          <td class="text-nowrap">
            <a
              class="btn p-0 text-primary"
              href="{% url 'invoice:edit_pi' proforma.slug %}"
              ><i class="ti ti-edit"></i
            ></a>
            <a href="" class="btn p-0 text-primary" data-bs-toggle="modal" data-bs-target="#{{proforma.pi_no}}"><i class="ti ti-eye"></i></a>
            {% if proforma.is_Approved == True %}
            <a href="{% url 'invoice:download_pdf' proforma.id %}" class="btn p-0 text-primary"
              ><i class="ti ti-file-type-pdf"></i
            ></a>
            <a
              class="btn p-0 text-primary"
              data-bs-toggle="modal"
              data-bs-target="#{{proforma.id}}"
              ><i class="ti ti-status-change"></i
            ></a>
            {% endif %}
          </td>
        </tr>

        <!-- Model to view PI details Start from here-->

        <div class="modal fade" id="{{proforma.pi_no}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable" style="scrollbar-width: thin;">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-4" >{{proforma.company_name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <p class="text-capitalize"><span class="fw-semibold">GSTIN: </span>{{proforma.gstin}}</p>
                      <p><span class="fw-semibold">ADDRESS: </span>{{proforma.address}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">PI No.: </span>{{proforma.pi_no}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">PI Date: </span>{{proforma.pi_date}}</p>
                    </div>
                  </div>
                  {% if proforma.po_no and proforma.po_no != "" %}
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">PO No.: </span>{{proforma.po_no}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">PO Date: </span>{{proforma.po_date}}</p>
                    </div>
                  </div>
                  {% endif %}
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">Requistioner: </span>{{proforma.requistioner}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">Team Member: </span>{{proforma.user_id}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p><span class="fw-semibold">Contact: </span>{{proforma.contact}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p><span class="fw-semibold">Email: </span>{{proforma.email_id}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p class="text-capitalize"><span class="fw-semibold">Subscription: </span>{{proforma.subscription}}</p>
                    </div>
                    <div class="col-lg-7">
                      <p class="text-capitalize"><span class="fw-semibold">Payment Term: </span>{{proforma.payment_term}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p class="text-capitalize"><span class="fw-semibold">Bank: </span>{{proforma.bank}}</p>
                    </div>
                    <div class="col-lg-7">
                      {% if proforma.currency == "inr" %}
                        <p class="text-capitalize"><span class="fw-semibold">Total Amount: </span>₹ {% total_order_value proforma %}</p>
                        <p class="text-capitalize"><span class="fw-semibold">Total Amount (Inc. Tax): </span>₹ {% total_pi_value_inc_tax proforma %}</p>
                      {% elif proforma.currency == "usd" %}
                        <p class="text-capitalize"><span class="fw-semibold">Total Amount: </span>$ {% total_order_value proforma %}</p>
                      {% endif %}
                    </div>
                    <div class="col-lg-7">
                      <p class="text-capitalize"><span class="fw-semibold">Biller: </span> {{proforma.bank.biller_id.biller_name}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7">
                      <span class="fw-semibold text-capitalize">details: </span>
                      <div class="m-0 text-capitalize details">{{proforma.details|safe}}</div>
                    </div>
                  </div>
                  <hr/>
                  <h5>Item Details</h5>
                  <div class="row g-3">
                    {% for order in proforma.orderlist_set.all %}
                      {% if order.is_lumpsum %}
                        <div class="col-lg-9 col-md-9">
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Category: </span>{{order.category}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Report Type: </span>{{order.report_type}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Product/HSN: </span>{{order.product}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Period: </span>{{order.from_month|format_month}} to {{order.to_month|format_month}}</p>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if proforma|total_lumpsums > 0 %}
                    <div class="col-lg-3 col-md-3 align-item-center">
                      <div class="row">
                        <div class="col-lg-6 p-0">
                          <p class="text-capitalize"><span class="fw-semibold">Lumpsum: </span>{{ proforma|total_lumpsums }}</p>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% for order in proforma.orderlist_set.all %}
                      {% if not order.is_lumpsum %}
                        <div class="col-lg-9 col-md-9">
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Category: </span>{{order.category}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Report Type: </span>{{order.report_type}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Product/HSN: </span>{{order.product}}</p>
                            </div>
                            <div class="col-lg-6">
                              <p class="text-capitalize"><span class="fw-semibold">Period: </span>{{order.from_month|format_month}} to {{order.to_month|format_month}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="row">
                            <div class="col-lg-6 p-0">
                              <p class="text-capitalize"><span class="fw-semibold">Unit Price: </span>{{order.unit_price}}</p>
                            </div>
                            <div class="col-lg-6 p-0">
                              <p class="text-capitalize"><span class="fw-semibold">Total Price: </span>{{order.total_price}}</p>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if proforma.is_Approved == True %}
                      <div class="row">
                        <div class="col-lg-6">
                          <p class="text-capitalize m-0"><span class="fw-semibold">Approved By: </span>{{proforma.approved_by}}</p>
                          <p class="text-capitalize p-0"><span class="fw-semibold">Approved Date: </span>{{proforma.approved_at}}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if proforma.feedback %}
                      <div class="row">
                        <div class="col-lg-6">
                          <p class="text-capitalize m-0"><span class="fw-semibold">Rejected By: </span>{{proforma.approved_by}}</p>
                          <p class="text-capitalize p-0"><span class="fw-semibold">Rejected Date: </span>{{proforma.approved_at}}</p>
                        </div>
                        <div class="col-lg-6">
                          <p class="text-capitalize p-0 text-danger"><span class="fw-semibold">Feedback: </span>{{proforma.feedback}}</p>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                {% if not proforma.is_Approved %}
                  {% if user_role == 'admin' or current_position == 'Head' or current_position == 'VP' or current_position == 'Sr. Executive' %}
                  <form class="row" action="{% url 'invoice:approve_pi' proforma.id %}" method="post">
                    {% csrf_token %}
                    <div class="col-12">
                      <input type="hidden" name="is_approved" value="true">
                      <label class="form-label fw-semibold" for="">Feedback</label>
                      <textarea class="form-control form-control-sm" name="feedback" id="feedback" rows="2" style="resize: none;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" >Approved</button>
                  </form>
                  {% endif %}
                {%endif%}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="{{proforma.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Order Process & Status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row g-3 d-flex justify-content-center">
                  <form class="row g-3 d-flex justify-content-center" action="{% url 'invoice:update_pi_status' proforma.id %}" method="post">
                    {% csrf_token %}
                    <div class="col-5">
                      <label class="form-label">Status</label>
                      <select class="form-select form-select-sm" name="pi_status" id="pi-status-choice">
                        {% for value, label in status_choices %}
                        <option value="{{value}}" {% if proforma.status == value %}selected{% endif %}>{{label}}</option>              
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-5">
                      <label class="form-label">Date <span class="text-danger">*</span></label>
                      <input class="form-control form-control-sm" type="date" name="closingDate" value="{% if proforma.closed_at %}{{proforma.closed_at|date:'Y-m-d'}}{% endif %}" required min="{{proforma.pi_date|date:'Y-m-d'}}">
                    </div>
                    <div class="col-10 requestTaxInvoice" style="display: none;">
                      <div class="row g-3">
                        {% if proforma.bank.biller_id.biller_gstin %}
                        <div class="col-5">
                          <input class="form-check-input" type="checkbox" name="is_invoiceRequire" id="is-invoiceRequire" checked />
                          <label class="form-check-label" for="is-taxInvoice">
                            Tax Invoice
                          </label>
                        </div>
                        {% endif %}
                      </div>
                      <div class="row g-3 mt-1 paymentForm">
                        {% total_dues proforma as due_amt %}
                        <div class="col-md-3 col-sm-4 col-4">
                          <label class="form-label">Payment Status</label>
                          <select class="form-select form-select-sm" name="payment_status">
                            {% for value, label in payment_status %}
                              <option value="{{value}}" {% if proforma.convertedpi.payment_status == value %}selected {% elif value == 'full' %}selected{% endif %}>{{label}}</option>                  
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-3 col-sm-4 col-4">
                          <label class="form-label">Payment</label>
                          <input class="form-control form-control-sm" type="number" name="payment1_amt" value={% if proforma.convertedpi.payment1_amt %}{{proforma.convertedpi.payment1_amt}} {% else %} {% total_dues proforma %} {% endif %}>
                        </div>
                        <div class="col-md-3 col-sm-4 col-4">
                          <label class="form-label">Payment Date <span class="text-danger">*</span></label>
                          <input class="form-control form-control-sm" type="Date" name="payment1_date" value="{% if proforma.convertedpi.payment1_date %}{{proforma.convertedpi.payment1_date|date:'Y-m-d'}}{% endif %}" required min="{{proforma.pi_date|date:'Y-m-d'}}">
                        </div>
                        <div class="col-sm-4 col-4">
                          <label class="form-label">PO No</label>
                          <input class="form-control form-control-sm" type="text" name="po_no" value="{% if proforma.po_no %}{{proforma.po_no}}{% endif %}">
                        </div>
                        <div class="col-sm-4 col-4">
                          <label class="form-label">PO Date<span class="text-danger">*</span></label>
                          <input class="form-control form-control-sm" type="Date" name="po_date" value="{% if proforma.po_date %}{{proforma.po_date|date:'Y-m-d'}}{% endif %}">
                        </div>
                        {% if due_amt and proforma.convertedpi.payment1_amt and proforma.convertedpi.payment_status != 'full' %}
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">2nd Payment</label>
                            <input class="form-control form-control-sm" type="number" name="payment2_amt" value= {% total_dues proforma %}>
                          </div>
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">2nd Payment Date <span class="text-danger">*</span></label>
                            <input class="form-control form-control-sm" type="Date" name="payment2_date" required>
                          </div>
                        {% elif proforma.convertedpi.payment2_amt %}
                          <div class="col-md-3 col-sm-4 col-4">
                          </div>
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">2nd Payment</label>
                            <input class="form-control form-control-sm" type="text" name="payment2_amt" value="{% total_dues proforma %}">
                          </div>
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">2nd Payment Date <span class="text-danger">*</span></label>
                            <input class="form-control form-control-sm" type="Date" name="payment2_date" required min="{{proforma.pi_date|date:'Y-m-d'}}">
                          </div>
                        {% endif %}
                        {% if due_amt and proforma.convertedpi.payment2_amt and proforma.convertedpi.payment_status != 'full' %}
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">3rd Payment</label>
                            <input class="form-control form-control-sm" type="text" name="payment3_amt" value="{% total_pi_value_inc_tax proforma %}">
                          </div>
                          <div class="col-md-3 col-sm-4 col-4">
                            <label class="form-label">3rd Payment Date <span class="text-danger">*</span></label>
                            <input class="form-control form-control-sm" type="Date" name="payment3_date" required min="{{proforma.pi_date|date:'Y-m-d'}}">
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-sm btn-warning">Update</button>
                  <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        {%empty%}
        <tr>
          <td class="text-center" colspan="9">
            <h6 class="m-0">No PI Available</h6>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
