{% extends 'home.html' %} {% load static %} {% block content %}

<div class="container-fluid p-3 row">
  <div class="col-md-2 bg-body-secondary rounded py-3">
    <h4 class="fs-5 text-end fw-normal mt-2">Filters <i class="ti ti-filter"></i></h4>
    <form class="row g-1" action="" method="get" id="dashboard_filter">
      <div class="col-12">
        <label for="select_month">Select Month</label>
        <input class="form-control form-control-sm" type="month" name="select_month" id="select_month">
      </div>
      <div class="col-12">
        <label for="select_user">Select User</label>
        <select class="form-select form-select-sm" name="select_user" id="select_user">
          <option value="" selected>All</option>
          <option value="1">Admin</option>
          <option value="4">Anjali Bharti</option>
          <option value="3">Srijoni Das</option>
          <option value="6">Shrishti Prasad</option>
        </select>
      </div>
      <div class="col-12 d-flex mt-3">
        <button class="btn btn-sm btn-warning w-100">Apply</button>
      </div>
    </form>
  </div>
  <div class="col-md-10">
    <div class="row py-2">
      <div class="col-md-3 mt-1">
        <div class="container p-0 bg-dark rounded-4">
          <div
            class="card py-2 bg-info bg-gradient bg-opacity-50 text-white text-center rounded-4"
          >
            <div class="card-body p-1">
              <h4 class="">Team Sales</h4>
              <h2 class="card-text" id="team-sales"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-1">
        <div class="container p-0 bg-warning bg-opacity-50 rounded-4">
          <div
            class="card py-2 bg-success bg-gradient bg-opacity-50 text-white text-center rounded-4"
          >
            <div class="card-body p-1">
              <h4 class="">User Sale</h4>
              <h2 class="card-text" id="user-sales"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-1">
        <div class="container p-0 bg-danger rounded-4">
          <div
            class="card py-2 bg-primary bg-gradient bg-opacity-25 text-white text-center rounded-4"
          >
            <div class="card-body p-1">
              <h4 class="">Closed PI</h4>
              <h2 class="card-text" id="closed-pi"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-1">
        <div class="container p-0 bg-dark rounded-4">
          <div
          class="card py-2 bg-secondary bg-gradient bg-opacity-75 text-white text-center rounded-4"
        >
          <div class="card-body p-1">
            <h4>Monthly Sales Target</h4>
            <h2 class="card-text"><i class="ti ti-currency-rupee"></i>{{user_target}}K</h2>
          </div>
        </div>
        </div>
      </div>
    </div>

    <!-- graph section -->
    <div class="row my-2">
      <div class="col-md-8">
        <table class="table table-sm table-secondary align-middle table-bordered table-hover table-striped" id="monthSaleTable">
          <thead>
            <tr class=" table-bordered border-2">
              <th class="text-center" id="th_month" colspan=7>Nov'24</th>
            </tr>
            <tr class="border-2">
              <th class="text-center" scope="col">S.N</th>
              <th scope="col">Team Member</th>
              <th class="text-center" scope="col">Online Sales</th>
              <th class="text-center" scope="col">Offline Sales</th>
              <th class="text-center" scope="col">Domestic Sales</th>
              <th class="text-center" scope="col">Total Sales</th>
              <th class="text-center" scope="col">Contribution %</th>
            </tr>
          </thead>
          <tbody class="border-2">
            
          </tbody>
        </table>
      </div>

      <div class="col-md-5 mb-3">
        <div class="container border bg-light rounded-3">
          <div id="salesPiChart"></div>
        </div>
      </div>
      <!-- <div class="col-md-7 mb-3">
        <div class="container">
          <canvas class="bg-dark bg-gradient rounded rounded-2" id="sales-chart"></canvas>
        </div>
      </div> -->
      <div class="col-md-7 mb-3">
        <div class="container border bg-secondary-subtle rounded-3">
          <div id="saleschart"></div>
        </div>
      </div>
      <!-- <div class="col-md-4 mb-3">
        <div class="container rounded-4">
          <canvas class="bg-dark bg-gradient rounded-4 p-4" id="pi-pieChart"></canvas>
        </div>
      </div> -->
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'becrm/js/dashboard.js' %}"></script>

<script>
  // Pass the user's ID to the chart.js file
  const USER_ID = {{ user_id|safe }};
  const USER_DETAILS = {{user_details|safe}};
  console.log(USER_DETAILS)
</script>

<style>
  #saleschart, #salesPiChart {
    width: 100%;
    height: 400px;
  }

  </style>
  
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  
  <!-- Chart code -->

{% endblock %}
