{% extends 'home.html' %} {% load static %} {% block content %}

<div class="container-fluid mt-5">
  <div class="container">
    <div class="row my-2 py-2">
      <div class="col-lg-3 col-md-3 mt-1">
        <div class="container">
          <div
            class="card py-2 bg-info bg-gradient bg-opacity-75 text-white text-center"
          >
            <div class="card-body">
              <!-- <img
                src="{% static 'becrm/image/img.svg' %}"
                class="card-img-absolute position-absolute bottom-0 left-0"
                alt="circle"
                width="145px"
              /> -->
              <h4 class="">Team Sales</h4>
              <h2 class="card-text" id="team-sales"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 mt-1">
        <div class="container">
          <div
            class="card py-2 bg-success bg-gradient bg-opacity-75 text-white text-center"
          >
            <div class="card-body">
              <!-- <img
                src="{% static 'becrm/image/img.svg' %}"
                class="card-img-absolute position-absolute bottom-0 left-0"
                alt="circle"
                width="145px"
              /> -->
              <h4 class="">User Sale</h4>
              <h2 class="card-text" id="user-sales"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 mt-1">
        <div class="container">
          <div
            class="card py-2 bg-danger bg-gradient bg-opacity-75 text-white text-center"
          >
            <div class="card-body">
              <!-- <img
                src="{% static 'becrm/image/img.svg' %}"
                class="card-img-absolute position-absolute bottom-0 left-0"
                alt="circle"
                width="145px"
              /> -->
              <h4 class="">Closed PI</h4>
              <h2 class="card-text" id="closed-pi"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 mt-1 align-middle">
        <div class="container text-left py-2">
          <h4>Monthly Sales Target</h4>
          <h2><i class="ti ti-currency-rupee"></i>450K</h2>
        </div>
      </div>
    </div>

    <!-- graph section -->
    <div class="row g-3 my-2">
      <div class="col-lg-3 col-md-3">
        <div>
          <canvas class="rounded rounded-2 p-2" id="pi-pieChart"></canvas>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div>
          <canvas class="rounded rounded-2 p-2" id="sales-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'becrm/js/charts.js' %}"></script>

<script>
  // Pass the user's ID to the chart.js file
  const USER_ID = {{ user_id|safe }};
</script>
{% endblock %}
